#lista_completa {
  margin-left: 5px;
  min-width: 985px;
}

#lista_completa .mcontent {
  font-size: 0.75rem;
}

.tableListaCompleta {
  background-color: var(--light-brackground-color);
  color: #ddd;
  padding: 20px;
}

.tableColunaDividida {
  color: #ddd;
  background-color: inherit !important;
  margin-bottom: 0 !important;
}

.tableListaCompleta td,
th {
  border-right: 1px solid var(--cor-borda);
  padding-left: 0.7rem !important;
  padding-right: 0.7rem !important;
}

.tableListaCompleta tbody tr td:last-child {
  border-right: none;
}

.tableListaCompleta > tbody > tr:nth-child(odd) > td,
.tableListaCompleta > tbody > tr:nth-child(odd) > th {
  background-color: var(--brackground-color) !important;
}

.colunaDividida {
  display: flex;
  flex-direction: row;
}

.colunaDividida div {
  flex: 1;
  border-right: none;
}

th .colunaDividida div {
  padding-left: 0.7rem !important;
  padding-right: 0.7rem !important;
}

.bodyListaCompleta {
  padding: 0.5rem;
}

.rowHeaderListaCompleta {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.divSeletor {
  display: flex;
  border: 2px solid var(--cor-borda);
  border-radius: 22px;
  height: 65px;
}

.divSeletor > div {
  border-right: 2px solid var(--cor-borda);
  flex: 1;
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divSeletor > div:first-child {
  border-bottom-left-radius: 22px;
  border-top-left-radius: 22px;
}

.divSeletor > div:last-child {
  border-bottom-right-radius: 22px;
  border-top-right-radius: 19px;
}

.divSeletor > div:last-child {
  border-right: none;
}

.seletorAtivo:focus {
  background-color: #314351 !important;
  outline: none !important;
}

.formPosicao {
  height: 38px !important;
  font-size: 1rem !important;
}

.divIconeConfigOrdernar {
  display: flex;
  justify-content: center;
}
