.containerInput {
  display: flex;
  position: relative;

  .suffix {
    font-size: 10px;
    position: absolute;
    right: 4px;
  }

  &.containerInputGrafico {
    width: 39%;
    height: 11px;
    position: absolute !important;
    background-color: transparent;
    border-color: transparent;
    text-align: center;
    font-size: 70%;
    font-weight: 400;

    input {
      height: 11px;
    }
  }

  .inputFormatado {
    padding-right: 12px !important;
  }

  .divContainerBotoes {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 0.5px 0;
  }

  .divRepetidor {
    display: flex;
    height: 35%;
  }

  .divRepetidor i {
    cursor: context-menu !important;
    display: flex;
    align-items: center;
    width: 12px;
    justify-content: center;
    z-index: 1;
  }

  &.darkCustomInput {
    input {
      background-color: #272827;
      border-color: #272827;
      border-radius: 0;
      color: #d2d5d2 !important;
    }
  }
}
