.containerInput {
  display: flex;
}

.inputFormatado {
  padding-right: 11px !important;
}

.divContainerBotoes {
  display: flex;
  flex-direction: column;
  height: 15px;
  justify-content: center;
  position: relative;
  right: 11px;
}

.divRepetidor {
  height: 7.5px;
  display: flex;
  flex: 1;
}

.divRepetidor i {
  height: 7.5px;
  cursor: context-menu !important;
  display: flex;
  align-items: center;
  width: 11px;
  justify-content: center;
}
