.ant-select-focused .ant-select-selection {
  box-shadow: 0 0 0px 3.5px var(--box-shadow-color) !important;
}

.ant-select-search__field__wrap input {
  color: var(--cor-texto) !important;
  line-height: 3 !important;
}

.ant-select-selection-selected-value {
  width: 100% !important;
}

.ant-select-dropdown-menu-item {
  color: var(--cor-texto) !important;
  background-color: #333 !important;
}

.ant-select-dropdown-menu-item-selected {
  color: var(--cor-texto) !important;
  background-color: var(--cor-item-selected) !important;
}

.ant-select-dropdown-menu-item:hover {
  background-color: var(--cor-item-selected) !important;
}
.ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled) {
  background-color: var(--cor-item-selected) !important;
}
