#vendagainreducao {
  max-width: 900px;
  min-width: 900px;
}

#vendagainreducao .mbody {
  min-height: 434.09px;
}

#vendagainreducao .mbody {
  height: unset !important;
}
/*
    Inputs do grafico
    */

#Reducao1Grafico_VGR {
  top: 51%;
  left: 28.6%;
}

#Reducao2Grafico_VGR {
  top: 64.4%;
  left: 54.9%;
}
#GainGrafico_VGR {
  top: 76.5%;
  left: 80.7%;
}

#CotacaoAtualGrafico_VGR {
  top: 14.5%;
  left: 2.3%;
  width: 18%;
  height: 12px;
}

/*Textos do grafico*/

#TextoReducao1_VGR {
  top: 45%;
  left: 27%;
}

#TextoReducao2_VGR {
  top: 58%;
  left: 53%;
}

#TextoCotacaoAtualGrafico_VGR {
  top: 13.5%;
  left: 21%;
}

#TextoGain_VGR {
  top: 70.5%;
  left: 78.5%;
}
