#vendaagendada {
  max-width: 600px;
  min-width: 600px;
}
/*Inputs do grafico*/

#GainDisparoGrafico_VA {
  top: 63.4%;
  left: 51%;
}

#GainExecGrafico_VA {
  top: 67.8%;
  left: 51%;
}

#StopDisparoGrafico_VA {
  top: 12.6%;
  left: 51%;
}

#StopExecGrafico_VA {
  top: 17%;
  left: 51%;
}
#CotacaoAtualGrafico_VA {
  top: 40.5%;
  left: 7%;
  width: 37%;
  height: 12px;
}

/*Icones de configuração*/

#ConfigGainGrafico_VA {
  top: 65%;
  left: 93%;
}

#ConfigStopGrafico_VA {
  top: 13.5%;
  left: 93%;
}

/*Textos do grafico*/

#TextoGainDisparo_VA {
  top: 57.8%;
  left: 49%;
}

#TextoGainExecucao_VA {
  top: 73.2%;
  left: 50.5%;
}

#TextoStopDisparo_VA {
  top: 7%;
  left: 49%;
}

#TextoStopExecucao_VA {
  top: 23.3%;
  left: 50.5%;
}

#TextoGain_VA {
  top: 52%;
  left: 61%;
}

#TextoStop_VA {
  top: 0%;
  left: 61%;
}

#TextoCotacaoAtualGrafico_VA {
  top: 40%;
  left: 45%;
}
