:root {
  --background-color: #1d1d1d;
  --light-background-color: rgb(38, 38, 38);
  --laranja-valorTotal: rgb(243, 148, 44);
  --cor-texto: #ddd;
  --cor-cinza-botoes: #444;
  --cor-borda: #4a494c;
  --cor-text-input: #bbb;
  --box-shadow-color: #0a51bd;
  --green: #0cc45b;
  --cor-item-selected: #008fca;
  --cor-borda-discreta: #333;
  --box-shadow-color-default: #1f3b69c9;
  --roxo-texto-thl: #aa88bc;
  --cor-texto-discreto: #b7b7b7;
}

.mcontent {
  background-color: var(--background-color);
  border-radius: 1rem;
  padding: 0.1rem 0rem;
  border: 0.4rem solid var(--cor-borda);
  color: var(--cor-texto);
  font-size: 0.9rem;
  margin-top: 5px;
  margin-right: 10px;
}

.mbody {
  padding: 0.5rem;
  min-height: 325.36px !important;
  align-items: flex-end;
  display: grid;
}

.mbody .divRepetidor i {
  color: #333;
}

.mheader {
  padding: 0 0rem 0 1.8rem;
  padding-bottom: 0rem;
  display: flex;
  text-align: center;
  justify-content: center;
}

input {
  color: black !important;
}

.wrapperIconesHeader {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  padding-top: 0.1rem;
  padding-left: 0;
}

.iconesHeader {
  padding: 0;
  border: none;
  color: var(--cor-cinza-botoes);
  font-size: 0.65rem;
  margin: 0 3px;
}

.inputHeader {
  background-color: #333;
  border-color: transparent;
  height: 30px;
  color: #ddd !important;
  font-weight: 600;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  text-align: center;
}

.colInputHeader {
  padding-left: 0;
}

.inputHeader:focus {
  background-color: #333;
  color: #ddd;
  border-color: transparent;
  box-shadow: none;
}

.iconeFechar {
  color: #000;
}

.mtitle {
  flex: 7;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 0rem;
  padding-top: 0.1rem;
}

.border-green {
  border-bottom: 1px solid var(--cor-borda);
}

.customFooter {
  border-top: 0.5px dashed white;
  display: grid;
}

.form-group {
  text-align: left;
}

.btn-primary {
  max-height: 25px;
}

.btn-danger {
  max-height: 25px;
}

.btn-success {
  max-height: 25px;
}

.btn-secondary {
  max-height: 25px;
}

.btn > h6 {
  font-size: 0.8rem !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1 !important;
}

input[type="number"] {
  padding-left: 0;
  padding-right: 0;
}

.resultadoTextoAtivo {
  color: var(--laranja-valorTotal);
}

.react-draggable {
  position: absolute;
}

.posicao1 {
  left: 605px;
}

.posicao2 {
  left: 605px;
  top: 580px;
}

.posicaoOriginalFormCompraVenda {
  top: 0px;
  left: 0px;
}

table {
  background-color: var(--light-background-color) !important;
  color: #ddd !important;
}

table > tbody > tr:nth-child(odd) > td,
table > tbody > tr:nth-child(odd) > th {
  background-color: var(--background-color) !important;
}

.flexJustifyCenter {
  display: flex;
  justify-content: center;
}

.flexAlignEnd {
  display: flex;
  align-items: flex-end;
}

.flexJustifyCenterAlignEnd {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.flexColumnTextCenter {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.spaceBetween {
  display: flex;
  justify-content: space-between !important;
}

.spaceAround {
  display: flex;
  justify-content: space-around !important;
}

.bg-success {
  background-color: #128f46 !important;
}

.fa-circle {
  color: var(--cor-cinza-botoes);
}

.fa-stack:hover .fa-circle {
  color: #195cc7;
}

.inputFocado {
  box-shadow: 0 0 0px 3.5px var(--box-shadow-color);
  z-index: 1 !important;
  border-radius: 0.25rem;
  transition: box-shadow 0.15s ease-in-out;
}

.containerTabelaRedonda {
  border: 1px solid var(--cor-borda) !important;
  border-radius: 6px;
}

.containerTabelaRedonda table {
  border-style: hidden !important;
  border-radius: 6px;
  margin-bottom: 0;
}

.anticon {
  line-height: 0;
}
