#relatorio_detalhado {
  width: 1100px;
  margin-left: 5px;
}

#relatorio_detalhado .mcontent {
  margin-right: 0 !important;
  font-size: 0.75rem;
}

.bodyRelatorioDetalhado {
  padding: 0.8rem;
}

.row1 {
  justify-content: space-around;
}

.flexRow {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.ativoCompra {
  color: #008fca;
}

.ativoVenda {
  color: #a67269;
}

.tabela1Custo {
  border-bottom: 1px solid var(--cor-borda);
}

.tabela1Custo td:nth-child(1),
.tabela1Custo td:nth-child(2),
.tabela1Custo td:nth-child(3) {
  border-right: 1px solid var(--cor-borda);
}

.tabela1Custo tr:last-child td {
  padding-bottom: 0.3rem !important;
}

.qtdeAtivo {
  font-size: 0.7rem !important;
}

.tabela2ProximaOrdem td:first-child {
  padding-right: 0px !important;
  padding-left: 10px !important;
}

.colTextoPosicao {
  background-color: var(--light-background-color);
}

.containerEmblemaRelatorio {
  margin-top: 0 !important;
}

.linhaOrganizadaEmblemaRelatorio h5 {
  margin-bottom: 0 !important;
  line-height: 1.1;
}

.linhaOrganizadaEmblemaRelatorio {
  padding-bottom: 0.2rem;
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-evenly;
  align-items: flex-end;
  margin: 0 3px;
}

.bordaGrossaLinhaOrganizadaEmblema {
  border-bottom: 3px solid var(--cor-borda);
}

.bordaFinaLinhaOrganizadaEmblema {
  border-bottom: 2px solid var(--cor-borda);
}

.rowHorarioEmblema {
  font-size: 0.6rem;
  height: 8px;
}

.divListagenEmblemasRelatorio {
  display: flex;
  flex-wrap: wrap;
  width: 87.1%;
  padding-left: 0.5px;
}

.tabela3Resultado {
  background-color: var(--background-color) !important;
}

.tabela3Resultado > tbody > tr:nth-child(odd) > td,
.tabela3Resultado > tbody > tr:nth-child(odd) > th {
  background-color: var(--light-background-color) !important;
}

.tabela3Resultado td,
.tabela3Resultado th {
  border-right: 1px solid var(--cor-borda) !important;
  padding: 0.2rem !important;
}

.tabela3Resultado td:last-child,
.tabela3Resultado th:last-child {
  border-right: none !important;
}

.tabela4HistoricoOrdens td:first-child {
  padding-right: 0px !important;
  padding-left: 10px !important;
}

.tabela4HistoricoOrdens {
  border-spacing: 0px 5px;
  border-collapse: separate;
  margin-bottom: 10px !important;
}

.tabela4HistoricoOrdens tbody tr td {
  color: black !important;
}

table.tabela4HistoricoOrdens > tbody > tr.linhaVermelha td {
  background-color: #a67269 !important;
}

table.tabela4HistoricoOrdens > tbody > tr.linhaAmarela td {
  background-color: #ddbe05 !important;
}

table.tabela4HistoricoOrdens > tbody > tr.linhaVerde td {
  background-color: #265626 !important;
}
