.containerOpcoesOrdem {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  position: relative;
  left: 2.5%;
  width: 95%;
  padding: 10px 5px !important;
  border-width: 0px;
  color: var(--cor-texto);
}

.containerOpcoesOrdem .input-group {
  width: 203px;
}

.containerOpcoesOrdem > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerOpcoesOrdem span {
  color: var(--cor-texto) !important;
}

.selectQtde > div {
  background-color: #333 !important;
  color: var(--cor-texto) !important;
  width: 70px !important;
  border: none;
  height: 20px !important;
  border-radius: 0 !important;
  text-align: center !important;
}

.selectQtde .ant-select-selection__rendered {
  height: 20px !important;
  line-height: 19px !important;
}

.selectQtde input {
  height: 20px !important;
}

.botoesInputSelect {
  height: 20px;
  width: 15px;
  justify-content: center;
  align-items: center;
  color: var(--cor-texto);
  font-size: 1.3rem;
  padding-bottom: 10px;
  z-index: 1;
}
