#ordens_execucao {
  width: 1400px;
  margin-top: 85px;
  margin-left: 5px;
}

.po1 {
  position: relative;
}

#ordens_execucao .mcontent {
  font-size: 0.7rem;
  padding-bottom: 1rem;
}

.tableOrdensExecucao {
  color: #ddd;
  border: none;
}

.tableOrdensExecucao td:first-child {
  padding-right: 0px !important;
  padding-left: 10px !important;
}

.bodyOrdensExecucao .row {
  margin: 0 0;
}

.bodyOrdensExecucao thead {
  background-color: var(--background-color);
  color: #bbb532;
}

.divFiltrarOrdens {
  width: 605px !important;
  height: 80px !important;
  position: absolute;
  top: -85px;
  padding-bottom: 0 !important;
  display: flex;
  align-items: center;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  font-size: 0.8rem !important;
}

.divFiltrarOrdens .textInput {
  height: 18px;
  font-size: 0.75rem;
}

.divFiltrarOrdens form {
  flex: 1;
}

.divFiltrarOrdens .row {
  justify-content: space-evenly;
  align-items: flex-end;
}

.divFiltrarOrdens .btn > h6 {
  font-size: 0.9rem !important;
}

.verticalAlignColunaTabela td {
  vertical-align: middle !important ;
}

.barraProgresso > .progress-bar {
  color: black !important;
  text-align: center;
}

.botaoFiltrar {
  background-color: #0790c9;
  border-color: #0790c9;
}
