#ordens_execucao {
  width: 1200px;
}

.animateDiv {
  position: absolute;
  left: 300px;
  top: 280px;
}

#ordens_execucao .mcontent {
  font-size: 0.7rem;
  padding-bottom: 1rem;
}

.tableOrdensExecucao {
  color: #ddd;
  border: none;
}

.bodyOrdensExecucao .row {
  margin: 0 0;
}

.bodyOrdensExecucao thead {
  background-color: var(--brackground-color);
}

.bodyOrdensExecucao tbody tr {
  border-bottom: 4px solid var(--brackground-color) !important;
  background: #333;
}

.divFiltrarOrdens {
  max-width: 605px !important;
  height: 80px !important;
  position: relative;
  left: 0%;
  padding-bottom: 0 !important;
  display: flex;
  align-items: center;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  font-size: 0.8rem !important;
}

.divFiltrarOrdens .textInput {
  height: 18px;
  font-size: 0.75rem;
}

.divFiltrarOrdens form {
  flex: 1;
}

.divFiltrarOrdens .row {
  justify-content: space-evenly;
  align-items: flex-end;
}

.divFiltrarOrdens .btn > h6 {
  font-size: 0.9rem !important;
}

.verticalAlignColunaTabela td {
  vertical-align: middle !important ;
}
