.configDiv {
  max-width: 240px !important;
  position: relative;
  left: 99%;
  top: -100%;
  padding-bottom: 0.5rem;
}

.configDiv input {
  width: 57%;
}

.configurarheader {
  padding: 0.3rem 1rem;
  padding-bottom: 0rem;
  display: flex;
  text-align: center;
  justify-content: center;
}

.imgConfigurar {
  max-width: 95%;
  display: flex;
  padding-top: 1rem;
  height: 365px;
}
.switchGrafico {
  width: 19.2%;
  height: 7.4%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.switchGrafico > div {
  border: 2px solid #444 !important;
}

/*
Textos da primeira parte do grafico
*/
#TextoGainDisparo_CONFIGURAR {
  top: 8.8%;
  left: 31%;
}

#TextoGainExecucao_CONFIGURAR {
  top: 21.5%;
  left: 33.5%;
}

#TextoStopDisparo_CONFIGURAR {
  top: 34%;
  left: 31%;
}

#TextoStopExecucao_CONFIGURAR {
  top: 46.5%;
  left: 33.5%;
}

#TextoGain_CONFIGURAR {
  top: 3%;
  left: 26%;
}

#TextoStop_CONFIGURAR {
  top: 28.5%;
  left: 26%;
}

/*
Icones de configuração do gráfico
*/

#ConfigGain1Grafico_CONFIGURAR {
  top: 2%;
  left: 48.5%;
}

#ConfigStop1Grafico_CONFIGURAR {
  top: 27.7%;
  left: 49%;
}

#ConfigGain2Grafico_CONFIGURAR {
  top: 51%;
  left: 49%;
}

#ConfigStop2Grafico_CONFIGURAR {
  top: 75.4%;
  left: 49%;
}

/*
Textos da segunda parte do gráfico
*/

#TextoGainDisparo2_CONFIGURAR {
  top: 56.3%;
  left: 31%;
}

#TextoGainExecucao2_CONFIGURAR {
  top: 69%;
  left: 33.5%;
}

#TextoStopDisparo2_CONFIGURAR {
  top: 81.6%;
  left: 31%;
}

#TextoStopExecucao2_CONFIGURAR {
  top: 93.5%;
  left: 33.5%;
}

#TextoGain2_CONFIGURAR {
  top: 51.5%;
  left: 26%;
}

#TextoStop2_CONFIGURAR {
  top: 76%;
  left: 26%;
}

/*
Textos de valor total do gráfico
*/

#ValorTotalGain1_CONFIGURAR {
  top: 1%;
  left: 64.5%;
}

#ValorTotalStop1_CONFIGURAR {
  top: 25%;
  left: 64.5%;
}

#ValorTotalGain2_CONFIGURAR {
  top: 48%;
  left: 64.5%;
}

#ValorTotalStop2_CONFIGURAR {
  top: 73%;
  left: 64.5%;
}

/*
Inputs da primeira parte do gráfico
*/

#GainDisparoGrafico_CONFIGURAR {
  top: 13.5%;
  left: 31%;
}

#GainExecGrafico_CONFIGURAR {
  top: 17.2%;
  left: 31%;
}

#StopDisparoGrafico_CONFIGURAR {
  top: 38.7%;
  left: 31%;
}

#StopExecGrafico_CONFIGURAR {
  top: 42.4%;
  left: 31%;
}

/*
Inputs da segunda parte do gráfico
*/


#GainDisparoGrafico2_CONFIGURAR {
  top: 61.2%;
  left: 31%;
}

#GainExecGrafico2_CONFIGURAR {
  top: 65%;
  left: 31%;
}

#StopDisparoGrafico2_CONFIGURAR {
  top: 86.3%;
  left: 31%;
}

#StopExecGrafico2_CONFIGURAR {
  top: 90%;
  left: 31%;
}