@import "./OpcoesOrdemExec.scss";

#ordens_execucao {
  width: 1060px;

  .mcontent {
    font-size: 0.7rem;
    padding-bottom: 1rem;
  }
}

// #ordens_execucao input,
// #ordens_execucao select {
//   /* background-color: #333;
//   border-color: #333;
//   color: var(--color-text-primary) !important; */
// }

.tableOrdensExecucao {
  color: #ddd;
  border: none;

  td {
    color: rgb(131, 155, 181);

    &:first-child {
      padding-right: 0px !important;
      padding-left: 10px !important;
    }

    span {
      color: rgb(131, 155, 181);
    }
  }
}

span.colunasOfertaVenda {
  color: rgb(151, 105, 96) !important;
}

.bodyOrdensExecucao {
  .row {
    margin: 0 0;
  }

  thead {
    background-color: var(--color-background);
  }

  .divFiltrarOrdens {
    width: 750px !important;
    height: 80px !important;
    /* position: absolute;
    top: -85px; */
    padding-bottom: 0 !important;
    display: flex;
    align-items: center;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    font-size: 0.8rem !important;

    .textInput {
      height: 18px;
      font-size: 0.75rem;
    }

    form {
      flex: 1;
    }

    .row {
      justify-content: space-evenly;
      align-items: flex-end;
    }

    .btn > h6 {
      font-size: 0.9rem !important;
    }
  }
}

.verticalAlignColunaTabela td {
  vertical-align: middle !important ;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

.barraProgresso {
  background-color: #aaa;

  > .progress-bar {
    color: black !important;
    text-align: center;
  }
}

.botaoFiltrar {
  background-color: #0790c9;
  border-color: #0790c9;
}

.ordemSelecionada {
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
}

.rowTabelaOrdensExec:hover {
  opacity: 1;
}
