.mcontent {
  background-color: #000;
  /* background-color: var(--color-background); */
  border-radius: 1rem;
  padding: 0.1rem 0rem;
  border: 3px solid var(--color-border-light);
  color: var(--color-text-primary);
  font-size: 0.9rem;
  margin-top: 5px;
  margin-right: 10px;
}

.mbody {
  padding: 0.5rem;
  min-height: 325.36px !important;
  align-items: flex-end;
  display: grid;
}

.mbody .divRepetidor i {
  color: #333;
}

.mheader {
  padding: 2px 0 2px;
  display: flex;
  text-align: center;
  justify-content: center;
  border-bottom: 1px solid var(--color-border-light);

  .mtitle {
    font-size: 1rem;
    margin-bottom: 0rem;

    position: absolute;
  }

  .wrapperIconesHeader {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    align-items: center;

    .brokerCustomButton {
      padding: 0;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        opacity: 0.6;
      }

      img.closeIcon {
        height: 20px;
      }
    }
  }

  .iconesHeader {
    padding: 0;
    border: none;
    color: var(--color-buttons-grey);
    font-size: 0.65rem;
    margin: 0 3px;

    svg {
      path {
        stroke: var(--color-buttons-grey);
      }
    }
  }
}

.inputHeader {
  background-color: #333;
  border-color: transparent;
  height: 30px;
  color: #ddd !important;
  font-weight: 600;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  text-align: center;
}

.colInputHeader {
  padding-left: 0;
}

.inputHeader:focus {
  background-color: #333;
  color: #ddd;
  border-color: transparent;
  box-shadow: none;
}

.iconeFechar {
  color: #000;
}

.border-green {
  border-bottom: 1px solid var(--color-border-light);
}

.customFooter {
  border-top: 0.5px dashed white;
  display: grid;
}

.form-group {
  text-align: left;
}

.btn-primary {
  max-height: 25px;
}

.btn-danger {
  max-height: 25px;
}

.btn-success {
  max-height: 25px;
}

.btn-secondary {
  max-height: 25px;
}

.btn > h6 {
  font-size: 0.8rem !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1 !important;
}

input[type="number"] {
  padding-left: 0;
  padding-right: 0;
}

.resultadoTextoAtivo {
  color: var(--color-orange-primary);
}

.react-draggable {
  position: absolute;
}

.posicao1 {
  left: 605px;
}

.posicao2 {
  left: 605px;
  top: 580px;
}

.posicaoOriginalFormCompraVenda {
  top: 0px;
  left: 0px;
}

table {
  background-color: var(--color-background-light) !important;
  color: #ddd !important;
}

table > tbody > tr:nth-child(odd) > td,
table > tbody > tr:nth-child(odd) > th {
  background-color: var(--color-background) !important;
}

.flexJustifyCenter {
  display: flex;
  justify-content: center;
}

.flexSpaceBetweenCenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexAlignEnd {
  display: flex;
  align-items: flex-end;
}

.flexJustifyCenterAlignEnd {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.flexColumnTextCenter {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.spaceBetween {
  display: flex;
  justify-content: space-between !important;
}

.spaceAround {
  display: flex;
  justify-content: space-around !important;
}

.bg-success {
  background-color: #128f46 !important;
}

.fa-circle {
  color: var(--color-buttons-grey);
}

.fa-stack:hover .fa-circle {
  color: #195cc7;
}

.inputFocado {
  box-shadow: 0 0 0px 3.5px var(--color-input-box-shadow);
  z-index: 1 !important;
  border-radius: 0.25rem;
  transition: box-shadow 0.15s ease-in-out;
}

.containerTabelaRedonda {
  border: 1px solid var(--color-border-light) !important;
  border-radius: 6px;
}

.containerTabelaRedonda table {
  border-style: hidden !important;
  border-radius: 6px;
  margin-bottom: 0;
}

.anticon {
  line-height: 0;
}

.spinnerHomebroker {
  max-height: 100% !important;
}

.spinnerHomebroker .ant-spin-dot {
  font-size: 14px;
  width: 35px;
  height: 35px;
}
