#MainScreenTabs {
  padding-top: 16px;
  display: flex;
  margin-left: 32px;

  > .row:nth-child(2) {
    height: 8px;
  }

  // popup container

  .popupContainer {
    margin-top: 64px;
    margin-left: -11px;

    > div > div[id] {
      margin-bottom: 8px;
    }
  }

  a:focus {
    outline: none !important;
  }

  .navContainer {
    height: 32px;
    text-align: center;

    border-color: var(--color-border-light);
    margin: 0 !important;
    padding: 8px 8px;
    border-bottom: 1px solid var(--color-border-light) !important;
    position: fixed;
    z-index: 1000;
    background-color: #000;
    width: calc(
      100% - 43px - 81px - 32px - 3px
    ); // 43 barra lateral direita - 81 barra lateral esquerda - 32 margem esquerda
    transition: width 0.2s;

    // &.widthLeftUserMenuOpen {
    //   width: calc(100% - 235px - 81px - 32px - 3px - 132px);
    // }

    a {
      width: 85px;
      height: 24px;
      font-size: 0.95rem;
      padding: 0;
      background-color: rgb(40, 40, 40);
      margin-right: 3px;
      color: var(--color-text-primary);
      border: none;
      border-bottom: 1px solid var(--color-border-light);
      text-align: center;
      text-decoration: none;
    }

    .col {
      padding: 0 4px;
    }
  }

  .selectedTab {
    color: var(--color-text-primary) !important;
    background-color: rgb(40, 40, 40) !important;
    border: 1px solid var(--color-border-light) !important;
    border-bottom: none !important;
  }

  .titleContainer {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 5px;

    i {
      font-size: 12px;
      margin-top: 4px;
      color: #666;
      transition: color 0.2s;

      &:hover {
        color: #ce202a;
      }
    }

    > input {
      height: 11px;
      background-color: transparent !important;
      border: none;
      width: 54px;
      border-radius: 0;
      padding: 5px 0px 5px 4px;
      text-align: center;
      flex: 1;
      border-color: #333;
      color: var(--color-text-primary) !important;
      font-size: 0.8rem;
      font-weight: 500;
      box-sizing: content-box;
    }

    input:focus {
      box-shadow: none;
    }
  }

  a.addTabButton.active {
    color: var(--color-text-primary) !important;
    background-color: rgb(40, 40, 40) !important;
  }
}
