#MainScreenTabs {
  margin-top: 16px;
  width: 100%;
  position: fixed;

  a:focus {
    outline: none !important;
  }

  .navContainer {
    height: 24px;
    text-align: center;
    padding: 0 0.5rem;
    border-color: var(--color-border-light);
    margin: 0 !important;
    margin-top: 0.5rem !important;
    border-bottom: 1px solid var(--color-border-light) !important;

    a {
      width: 85px;
      height: 24px;
      font-size: 0.95rem;
      padding: 0;
      background-color: rgb(40, 40, 40);
      margin-right: 3px;
      color: var(--color-text-primary);
      border: none;
      border-bottom: 1px solid var(--color-border-light);
      text-align: center;
      text-decoration: none;
    }

    .col {
      padding: 0 4px;
    }
  }

  .selectedTab {
    color: var(--color-text-primary) !important;
    background-color: rgb(40, 40, 40) !important;
    border: 1px solid var(--color-border-light) !important;
    border-bottom: none !important;
  }

  .titleContainer {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 5px;

    i {
      font-size: 12px;
      margin-top: 4px;
    }

    > input {
      height: 11px;
      background-color: transparent !important;
      border: none;
      width: 54px;
      border-radius: 0;
      padding: 5px 0px 5px 4px;
      text-align: center;
      flex: 1;
      border-color: #333;
      color: var(--color-text-primary) !important;
      font-size: 0.8rem;
      font-weight: 500;
      box-sizing: content-box;
    }

    input:focus {
      box-shadow: none;
    }
  }

  a.addTabButton.active {
    color: var(--color-text-primary) !important;
    background-color: rgb(40, 40, 40) !important;
  }
}
