#divMenuLateral.hide {
  opacity: 0;
  pointer-events: none;
  width: 0px;
}

.divMenuLateral {
  background-color: #1d1d1d;
  height: 100vh;
  transition-property: width opacity;
  transition: 0.4s;
  border-right: 1px solid #888;
  width: 132px;
  position: fixed;
}

.corAlternada {
  background-color: #333;
}

.itemMenuLateral {
  height: 70px;
  color: #ddd;
  display: grid;
  align-items: center;
  text-align: center;
  width: 100%;
  border-radius: 0;
}

.itemMenuLateral .row {
  align-items: center;
  justify-content: center;
}

.colLogout {
  padding: 0 0 0 0;
}

.textoConectado {
  font-size: 0.55rem;
  padding-top: 0.5rem;
}

.iconeDeslogar {
  font-size: 0.8rem;
  padding-right: 0.3rem;
}

.iconeStatusCirculo {
  font-size: 0.4rem;
  padding-left: 0.3rem;
  padding-right: 0.1rem;
}

.iconeStatusConectado {
  color: rgb(0, 255, 0);
}

.iconeStatusDesconectado {
  color: red;
}

h6 {
  margin-bottom: 0rem;
}
