.divTelaPrincipal {
  background-color: var(--background-colors);
  display: flex;
  height: 100%;
}

.conteudoMenuPrincipal {
  flex: 10;
  border-left: 1px solid #888;
  display: flex;
  flex-direction: column;
}

#menusTelaPrincipal {
  margin-left: 85px;
  margin-top: 30px;
}

/*Menus de posição, multileg e histórico*/
#menusTelaPrincipal > div > div {
  margin-bottom: 1rem;
}

.divBarraTopo {
  background-image: linear-gradient(#444, #333, #222);
  width: 100%;
  height: 45px;
  border-bottom: #888 1px solid;
  border-top: #888 1px solid;
  color: #ddd;
  position: fixed;
  z-index: 99999999;
}

.divBarraTopo > .row {
  width: 100%;
  height: 100%;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.iconesMostrarMenu {
  padding: 0;
  border: none;
  color: #888;
  margin: 0 0px;
  font-size: 1rem;
}

.iconeCirculo {
  color: #888;
}

.iconeHome {
  font-size: 1.4rem;
}

.valorLiquido {
  color: #40b65c;
}

.valorComprar {
  color: #f89a30;
}

.divBarraLateral {
  background-color: #333333;
  width: 85px;
  display: flex;
  flex-direction: column;
  padding: 2rem 0rem 0rem 0.25rem;
  position: fixed;
  height: 100%;
  margin-top: 45px;
}

.itemDivBarraLateral {
  margin-bottom: 1.6rem;
  text-align: center;
}

.divClicavel {
  /* backface-visibility: hidden !important;
  transform: translateZ(0) scale(1, 1) !important;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;*/
  /*  z-index: 1; */
}

.divClicavel:hover {
  cursor: pointer;
  transition-duration: 0.15s;
  opacity: 0.5;
}

.divClicavel:active {
  transition-timing-function: linear;
  outline: none !important;
  opacity: 0.1;
}

.divClicavel:focus {
  outline: solid medium rgba(0, 83, 186, 0.3) !important;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.divClicavell:hover {
  cursor: pointer;
  transition-duration: 0.15s;
  opacity: 0.5;
}

.divClicavell:active {
  transition-timing-function: linear;
  outline: none !important;
  opacity: 0.1;
}

.divClicavell:focus {
  outline: solid medium rgba(0, 83, 186, 0.3) !important;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.itemDivBarraLateral svg {
  max-width: 48px;
}

.itemDivBarraLateral h6 {
  color: #8ba5c2;
  font-size: 0.7rem;
}

.divOrdens {
  width: 605px;
  border: 2px solid #888;
  border-left: none;
  border-radius: 10px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 0;
  margin-top: 35px;
  flex-direction: column;
  display: flex;
  position: absolute;
  background-color: rgb(15, 15, 15) !important;
}

#divOrdens.hide {
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
}

#divOrdens.visible {
  opacity: 1;
  pointer-events: all;
  width: 605px;
  height: 200px;
}

.rowOrdensTracejada {
  border-bottom: 1px solid #888;
}

.divOrdens > .row {
  flex: 1;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--cor-texto);
}

.rowSpeciais {
  justify-content: flex-start !important;
  padding-left: 2.5rem;
}

.divBotaoFormulario {
  display: flex;
  flex-direction: column;
  color: var(--cor-texto);
  align-items: center;
  text-align: end !important;
}

.divOrdens > .row img {
  max-height: 50px;
}

.imagemVenda {
  margin-right: 43px;
}

.defaultDraggable {
  position: relative;
}

.iconesBarraLateral {
  fill: #8ba5c2;
}
