.plannerProjection {
  padding: 0 6px;
  margin-bottom: 8px;

  td {
    vertical-align: middle;
  }

  > div.firstRow {
    display: flex;

    select + select,
    select + div {
      margin-top: 8px;
    }

    select,
    .containerInput,
    .darkSimpleInput {
      max-width: 100px;
      text-align-last: center;
    }

    .inputGroup {
      display: flex;
      align-items: center;

      &:first-child {
        margin-top: 32px;
      }

      & + .inputGroup {
        margin-top: 8px;
      }

      span {
        min-width: 100px;
        line-height: 15px;
      }
    }

    .graphContainer {
      flex: 1;
      position: relative;

      > h6 {
        position: absolute;
        bottom: 16px;
        left: 54px;
        display: block;
        font-size: 14px;
      }

      .recharts-layer .recharts-pie-sector {
        path {
          // stroke: #000;
          stroke-width: 0px;
        }
      }

      .recharts-legend-wrapper {
        left: 272px !important;
        top: -8px !important;

        .customLegendContainer {
          margin-top: 4px;
          max-height: 130px;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          align-content: flex-start;

          > div {
            margin-right: 32px;

            > .inner-circle {
              display: inline-block;
              width: 14px;
              height: 14px;
              border-radius: 50%;
              border-style: solid;
              border-width: 2px;
              background-color: rgba(0, 0, 0, 0);
              margin-right: 6px;
              vertical-align: middle;
            }

            span:not(.inner-circle) {
              display: inline-block;
              font-size: 12px;
            }
          }
        }
      }
    }
  }

  .planningTable {
    background-color: transparent !important;
    margin-bottom: 8px;

    select {
      width: 75px;
    }

    .suffixInput {
      max-width: 70px;
    }

    input {
      text-align: center;
    }

    th {
      font-weight: 500;
      color: #aa88bc;
      text-align: center;
      font-size: 14px;
      padding: 3.2px 0 !important;

      &.realTaxHead {
        min-width: 70px;
      }
    }

    th,
    td {
      border: none;
    }

    td {
      background-color: #272827 !important;
      font-size: 12px;
      text-align: center;
      padding-top: 2px !important;
      padding-bottom: 2px !important;
      line-height: 14px;

      &:first-child {
        .brokerCustomButton {
          padding-top: 0;
        }
      }
    }

    .taxColumn {
      min-width: 60px;
      position: relative;

      button {
        span {
          font-weight: 400;
        }
      }
    }

    .cellContent {
      display: flex;
      justify-content: center;

      &.periodCell {
        > .darkSimpleInput {
          width: 40px;
          padding-top: 2px;
        }
      }

      &.financialValueCell {
        width: 100px;
      }

      &.contributionCell {
        .containerInput {
          input {
            padding-right: 0px !important;
          }
        }
      }

      .containerInput {
        padding-top: 0;
        padding-bottom: 0;
        border: 1px solid transparent;
      }
    }

    .column100 {
      max-width: 65px;
    }

    .incomeColumn {
      position: relative;
      align-items: center;
    }

    tr {
      &:not(:first-child) {
        border-top: 6px solid #0f0f0f;
      }

      // last line
      &:last-child {
        td {
          background-color: transparent !important;
          padding-bottom: 8px !important;

          &:first-child {
            text-align: left;
          }

          &:nth-child(n + 7) {
            border-bottom: 1px solid #b7b7b7;
          }

          &:nth-child(4) {
            color: #aa88bc;
          }

          &:nth-child(5) {
            color: #108242;
          }

          &:nth-child(6) {
            color: #956968;
          }
        }
      }
    }
  }

  .includeLineRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .simulationButton {
    background-color: #272827;
    border-radius: 4px;
    font-size: 14px;
  }

  .configButton {
    padding: 0 4px;
    align-items: center;
    display: flex;
    justify-content: center;

    > img {
      height: 15px;
      width: 15px;
    }
  }

  .openLaunchMenuButton {
    padding: 0;
  }
}

.simulationConfigMenu,
.simulationTaxTooltip {
  margin-bottom: 2px !important;

  header {
    justify-content: flex-end;

    .brokerCustomButton {
      padding: 0;
      margin-top: 1px;

      svg {
        vertical-align: baseline;
      }
    }
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4px;
    background-color: #444;
    border-radius: 4px;

    .brokerCustomButton {
      display: flex;
      align-items: center;

      & + .brokerCustomButton {
        margin-top: 4px;
      }

      span {
        text-align: left;
        margin-left: 6px;
      }

      img.export {
        height: 12px;
        margin-right: 4px;
        filter: brightness(0.5);
      }

      svg {
        margin-right: 4px;
      }
    }
  }
}

.simulationTaxTooltip {
  main {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
  }
}

// .simulationConfigMenu {
//   .tooltip-inner .content {
//   }
// }
