#optionsTable {
  overflow: hidden;
  height: 100%;

  .mcontent {
    height: calc(100% - 5px);
    color: #ddd;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-right: 0;

    .table-header-cell,
    .table-cell {
      color: #ddd;
    }
  }

  .searchRow {
    padding: 16px 16px 0;
    display: flex;
    align-items: center;
    position: relative;

    .input-group {
      width: 150px;

      .input-group-text {
        width: 44px;
        justify-content: center;
        padding: 0;

        svg {
          path {
            stroke: #1d1d1d;
          }
        }
      }
    }

    .custom-control {
      margin-left: 24px;

      input {
        z-index: 1;
      }
    }

    .quote {
      color: #e79939;
      font-weight: 600;
      font-size: 20px;
      margin-left: 16px;
    }

    .oscilation {
      color: #b1902c;
      font-weight: 500;
      font-size: 16px;
      margin: 0 16px;
    }

    .saveConfigButton {
      background-color: #f1881d;
      font-size: 14px;
      height: 24px;
      border-radius: 4px;
      right: 16px;
      position: absolute;
      transition: opacity 0.2s;
      width: 139px;

      display: flex;
      align-items: center;
      justify-content: center;

      &.hidden {
        opacity: 0;
      }
    }
  }

  .scrollContainer {
    position: relative;
    margin: 0 16px;
    border: 1px solid rgb(40, 40, 40);
    border-radius: 4px;
    margin-top: 16px;
    height: calc(100% - 52px - 46px);

    .custom-checkbox {
      min-width: 24px;
      padding-left: 0;

      input {
        z-index: 2;

        margin-left: auto;
        margin-right: auto;

        left: 0;
        right: 0;
        height: 24px;
        width: 17px;
      }

      label {
        display: flex;
        height: 24px;
      }

      .custom-control-label::before {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
      }

      .custom-control-label::after {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
      }
    }

    table {
      text-align: center;
      margin-bottom: 0;

      th {
        position: sticky;
        top: 0;
        background-color: #000;
        border: none !important;
        padding: 4px 6px !important;
        border-right: 1px solid rgb(30, 30, 30) !important;
        z-index: 3;

        &:first-child {
          left: 0;
          min-width: 60px;
          z-index: 4;

          &::after {
            content: "";
            position: absolute;
            width: 1px;
            height: 30px;
            box-shadow: 2px 0 0 0 rgb(30, 30, 30);
            z-index: 4;
            right: 1px;
            top: 0;
          }
        }

        &:last-child {
          border-right: none !important;
        }
      }

      tr {
        &:nth-child(odd) {
          td {
            background-color: #000 !important;
          }
        }
      }

      td {
        background-color: #000 !important;
        border-color: rgb(30, 30, 30);
        border-right: 1px solid rgb(30, 30, 30);
        padding: 4px 6px !important;

        &:first-child {
          position: sticky;
          left: 0;
          top: 0;

          z-index: 3;

          &::after {
            content: "";
            position: absolute;
            width: 1px;
            height: 30px;
            box-shadow: 2px 0 0 0 rgb(30, 30, 30);
            z-index: 4;
            right: 1px;
            top: 0;
          }
        }

        &:last-child {
          border-right: none !important;
        }

        > div {
          display: flex;
          align-items: center;
          min-width: 86px;

          span {
            flex: 1;
          }

          .form-check {
            input {
              margin-left: -0.8rem;
            }
          }

          .custom-control {
            margin-left: 8px;
          }
        }
      }
    }
  }
}

#scrollOptionsTable {
  border-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;

  .ps__rail-x {
    display: none;
  }

  .ps__rail-y {
    display: none;
  }
}

.dragScrollPointer {
  cursor: move;
}
