.multiBoxBooksTab {
  padding: 0 4px;

  header.boxContentHeader {
    div.buttonsContainer {
      width: 89px;
    }
  }

  .boxInputRangeContainer {
    margin-top: 4px;
  }

  > table {
    text-align: center;
    background-color: transparent !important;

    .brokerCustomButton {
      padding: 0;
    }

    thead {
      tr:first-child {
        th:nth-child(2) {
          border-bottom: 1px solid #ccae44 !important;
        }
      }
    }

    th {
      font-weight: 400;
      padding: 0px 1px !important;

      &.yellowColumns {
        color: #ccae44;
      }

      &.blueColumns {
        color: #80c7e4;
      }

      .brokerCustomButton {
        svg {
          margin-bottom: 2px;
          margin-left: 2px;
        }
      }
    }

    td:nth-child(2) {
      color: #bfdce8;
    }

    tr:not(:first-child) {
      th:nth-child(2) {
        color: #fff;
      }
    }

    th:nth-child(3),
    th:nth-child(4),
    td:nth-child(3),
    td:nth-child(4) {
      color: #80c7e4;
      min-width: 43px;
    }

    th:nth-child(5),
    th:nth-child(6),
    td:nth-child(5),
    td:nth-child(6) {
      color: #fda6f4;
      min-width: 43px;
    }

    tr:nth-child(odd) td {
      background-color: transparent !important;
    }

    tr:not(:first-child) {
      td {
        border-top: 2px solid transparent !important;
      }
    }

    td {
      &.strikeColumn {
        padding: 0 !important;

        .symbolCardContainer {
          min-width: 80px;

          div {
            font-size: 13px;
          }

          h6 {
            font-size: 13px;
          }
        }
      }
    }
  }
}
