@import "./tab1.scss";
@import "./tab2.scss";
@import "./tab3.scss";
@import "./tab4.scss";
@import "./tab5.scss";

.multiBoxContainer {
  display: grid;
  grid-template-columns: repeat(3, minmax(413px, 413px));
  column-gap: 12px;
  row-gap: 16px;
  padding: 0px 32px 16px;
  margin-top: 32px;
  overflow: visible;

  .buyText {
    color: #336699;
  }

  .sellText {
    color: #996666;
  }
}

.multiBox {
  //   position: relative !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-width: 413px;

  .hiddenBoxContent {
    height: 37px !important;
  }

  .topSymbolsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 30px 6px;
    align-items: flex-end;
    pointer-events: none;

    > div {
      pointer-events: all;
      max-width: 170px;
    }

    .symbolCardContainer + .symbolCardContainer {
      margin-top: 6px;
    }
  }

  .boxContent {
    border-width: 0.3rem;
    margin-right: 0;
    background-color: #000;
    transition: height 0.2s;
    min-height: 300px;

    padding-bottom: 16px;

    .tabButtons {
      position: absolute;
      display: flex;
      justify-content: space-around;
      left: 0;
      right: 0;
      bottom: -6px;

      > .brokerCustomButton {
        width: 16px;
        height: 16px;
        background: var(--color-border-light);
        border-radius: 50%;
        padding: 0;

        &:hover {
          opacity: 1;
        }

        &.selected {
          .selectedCircle {
            background: #c910a0;
          }
        }

        .selectedCircle {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          margin: auto;
          transition: background-color 0.2s;
        }
      }
    }

    @keyframes showTab1 {
      0% {
        opacity: 0;
        height: 0;
      }

      100% {
        opacity: 1;
        height: 250px;
      }
    }

    @keyframes showTab {
      0% {
        opacity: 0;
        height: 0;
      }

      100% {
        opacity: 1;
        height: unset;
      }
    }

    @mixin activeTab($height, $animation) {
      opacity: 1;
      height: $height;
      animation: $animation 0.25s normal;
      pointer-events: all;
    }

    & > div:not(.tabButtons) {
      opacity: 0;
      transition: opacity 0.1s;
      height: 0;
      pointer-events: none;
    }

    &.activeTab1 > div:nth-child(1) {
      @include activeTab(250px, showTab1);
    }

    &.activeTab2 > div:nth-child(2) {
      @include activeTab(unset, showTab);
    }

    &.activeTab3 > div:nth-child(3) {
      @include activeTab(unset, showTab);
    }

    &.activeTab4 > div:nth-child(4) {
      @include activeTab(unset, showTab);
    }

    &.activeTab5 > div:nth-child(5) {
      @include activeTab(unset, showTab);
    }
  }
}

header.boxContentHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-border-light);
  margin: -1px 0 2px 0;
  padding: 4px 0px;

  .brokerCustomButton {
    padding: 0;
  }

  img {
    height: 25px;
  }

  .searchOptionsButton {
    .brokerCustomButton {
      display: flex;
      flex-direction: column;

      img {
        max-height: 15px;
        max-width: 24.2px;
      }
    }
  }

  .openInNewIcon {
    height: 18px;
  }

  .darkSimpleInput {
    border-radius: 4px;
    max-width: 45%;
    height: 20px;
  }
}

.symbolCardContainer {
  padding: 0;
  display: inline-flex;
  border: 1px solid #b0b0b0;
  border-radius: 5px;
  padding-right: 4px;
  align-items: center;
  margin-right: 4px;

  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  position: relative;

  &:hover {
    opacity: 1;
  }

  .buyColor {
    color: #098abf;
  }

  .sellColor {
    color: #a5746b;
  }

  .cardQtty {
    position: absolute;
    left: -26px;
    width: 20px;

    font-weight: bold;
    text-align: right;
  }

  .model {
    background-repeat: no-repeat;
    background-size: contain;
    height: 19px;
    width: 19px;
    border-right: 1px solid #b0b0b0;

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;

    &.european {
      background-image: url("../../../assets/multiBox/europeanCardIcon.png");
      color: #b7b7b7;
    }

    &.american {
      background-image: url("../../../assets/multiBox/americanCardIcon.png");
      color: #2b3561;
    }
  }

  img {
    height: 19px;
    border-right: 1px solid #b0b0b0;
  }

  h6 {
    font-size: 14px;
    font-weight: bold;
  }

  div + h6 {
    margin: 0 4px;
  }
}

.boxTopSymbolTooltip {
  margin-bottom: 2px !important;

  header {
    justify-content: flex-end;

    .brokerCustomButton {
      padding: 0;
      margin-top: 1px;

      svg {
        vertical-align: baseline;
      }
    }
  }

  main {
    padding-top: 4px !important;
    > div {
      > span {
        padding-bottom: 4px !important;

        &:first-child {
          padding-right: 4px !important;
        }
      }
    }
  }
}
