.multiBoxPositionTab {
  padding: 0 4px;

  header.boxContentHeader {
    div.buttonsContainer {
      width: 89px;
    }
  }

  .boxInputRangeContainer {
    margin-top: 8px;

    div:first-child {
      span {
        line-height: 6px;
      }
    }
  }

  .titleContainer {
    position: relative;
    width: 100%;
    height: 16px;
    border-bottom: 1px solid #808080;
    margin-top: 4px;

    h6 {
      color: #ccae44;
      font-weight: 400;
      font-size: 15px;
      position: absolute;
      text-align: center;
      background-color: #000;
      bottom: -7px;
      padding: 0 8px;

      display: inline-block;
      margin: 0 auto;
      width: 65px;
      left: calc(50% - 65px);
      right: calc(50% - 65px);
    }
  }

  table {
    text-align: center;
    margin-top: 12px;
    background-color: transparent !important;
    border-collapse: separate;
    border-spacing: 0 4px;
    margin-bottom: 1px;

    th {
      font-weight: 400;
      color: #bfa340;
      background-color: #282828;
      padding: 2px 0 !important;

      .brokerCustomButton {
        padding: 0;
        svg {
          margin-bottom: 2px;
          margin-left: 2px;
        }
      }
    }

    tr:nth-child(odd) td {
      background-color: transparent !important;
    }

    td {
      height: 0;
      color: #cec9c9;

      .symbolCardContainer {
        height: 18px;
        overflow: hidden;
        min-width: 87px;

        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;

        .model {
          font-size: 14px;
          height: 17px;
          width: 17px;
        }

        h6 {
          font-size: 13px;
        }
      }

      &.avgPriceColumn,
      &.qttyColumn {
        > div {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      &.qttyColumn {
        max-width: 60px;
      }
    }

    .containerInput {
      max-width: 80px;

      input {
        background-color: #333;
        border-color: #333;
        color: var(--color-text-primary) !important;
        box-sizing: content-box;
      }
    }

    // tbody {
    //   tr {
    //     border-top: 5px solid transparent;

    //     &:first-child {
    //       border-top-width: 12px;
    //     }
    //   }
    // }
  }

  .saveButton {
    background: #2e5d8c;
    border-radius: 6px;
    height: 20px;
    margin-left: auto;

    width: 70px;
    line-height: 14px;
    font-size: 13px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 16px;
    right: 8px;

    .spinner-border {
      width: 14px;
      height: 14px;
    }
  }
}
