.multiBoxTab1 {
  border-width: 0.3rem;
  margin-right: 0;
  background-color: #000;
  transition: height 0.2s;
  overflow: hidden;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 0 4px;

  header.boxContentHeader {
    div.buttonsContainer {
      width: 89px;
    }
  }

  .boxInputRangeContainer {
    margin-top: 16px;
  }

  div.quoteContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;

    strong {
      color: #bfdce8;
      font-size: 42px;
      font-weight: 500 !important;
    }

    span {
      display: flex;
      align-items: center;
      font-size: 18px;
      font-weight: bold;
      margin-top: 4px;

      svg {
        max-width: 16px;
        margin-right: 2px;
        margin-top: 1px;

        &.arrowDown {
          margin-top: 5px;
        }
      }
    }

    // .buyBook,
    // .sellBook {
    //   display: flex;
    //   flex-direction: column;
    //   font-size: 12px;
    //   justify-content: flex-start;
    //   align-items: center;

    //   > div {
    //     display: flex;
    //     width: 100%;
    //     max-width: 70px;

    //     > span {
    //       flex: 1;

    //       &:nth-child(2) {
    //         padding-left: 4px;
    //       }
    //     }
    //   }
    // }
  }

  // section.footer {
  //   margin-top: 12px;

  //   .boxSliderContainer {
  //     display: flex;
  //     flex-direction: row;
  //     padding: 0 0.5rem;

  //     .sliderEdge {
  //       height: 5px;
  //       background-color: #4e4f4e;
  //       flex: 17;
  //     }

  //     .sliderMiddle {
  //       height: 5px;
  //       background-color: var(--color-buy-primary-blue);
  //       flex: 1;
  //     }
  //   }

  //   // padding-bottom: 4px;

  //   // > div:first-child {
  //   //   margin-bottom: -6px;
  //   // }
  //   // > div:last-child {
  //   //   margin-top: -12px;
  //   // }

  //   // .sliderBuyColor::-webkit-slider-runnable-track,
  //   // .sliderSellColor::-webkit-slider-runnable-track {
  //   //   border-radius: 0;
  //   //   height: 6px;
  //   // }

  //   // .sliderBuyColor::-webkit-slider-thumb,
  //   // .sliderSellColor::-webkit-slider-thumb {
  //   //   margin-top: -2px;
  //   // }

  //   // .sliderBuyColor::-webkit-slider-runnable-track {
  //   //   background-color: #336699;
  //   // }
  //   // .sliderSellColor::-webkit-slider-runnable-track {
  //   //   background-color: #996666;
  //   // }
  // }
}
