.multiBoxTab2 {
  padding: 0 4px;

  header.boxContentHeader {
    div.buttonsContainer {
      width: 89px;
    }
  }

  .titleContainer {
    position: relative;
    width: 100%;
    height: 16px;
    border-bottom: 1px solid #808080;
    margin: 8px 0;

    h6 {
      color: #ccae44;
      font-weight: 400;
      font-size: 14px;
      position: absolute;
      text-align: center;
      background-color: #000;
      bottom: -7px;
      padding: 0 8px;

      display: inline-block;
      margin: 0 auto;
      width: 63px;
      left: calc(50% - 63px);
      right: calc(50% - 63px);
    }
  }

  table {
    text-align: center;
    margin-top: 18px;
    background-color: transparent !important;
    border-collapse: separate;
    border-spacing: 0 6px;

    th {
      font-weight: 400;
      color: #bfa340;
      background-color: #282828;

      .brokerCustomButton {
        padding: 0;
        svg {
          margin-bottom: 2px;
          margin-left: 2px;
        }
      }
    }

    tr:nth-child(odd) td {
      background-color: transparent !important;
    }

    td {
      height: 0;
      color: #cec9c9;

      &.avgPriceColumn,
      &.qttyColumn {
        > div {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .containerInput {
      max-width: 80px;

      input {
        background-color: #333;
        border-color: #333;
        color: var(--color-text-primary) !important;
        box-sizing: content-box;
      }
    }

    // tbody {
    //   tr {
    //     border-top: 5px solid transparent;

    //     &:first-child {
    //       border-top-width: 12px;
    //     }
    //   }
    // }
  }

  .saveButton {
    background: #2e5d8c;
    border-radius: 6px;
    height: 28px;
    margin-left: auto;
    margin-right: 4px;
    width: 70px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
