.multiBoxTab4 {
  padding: 0 4px;

  header.boxContentHeader {
    div.buttonsContainer {
      width: 89px;
    }
  }

  .boxInputRangeContainer {
    margin-top: 4px;
  }

  > table {
    text-align: center;
    background-color: transparent !important;
    margin-top: 4px;

    .brokerCustomButton {
      padding: 0;
    }

    thead {
      tr:first-child {
        th:nth-child(2) {
          border-bottom: 1px solid #ccae44 !important;
        }
      }
    }

    th {
      font-weight: 400;

      &.yellowColumns {
        color: #ccae44;
      }

      &.blueColumns {
        color: #80c7e4;
      }

      .brokerCustomButton {
        svg {
          margin-bottom: 2px;
          margin-left: 2px;
        }
      }
    }

    .buyColor {
      color: #098abf;
    }

    .sellColor {
      color: #a5746b;
    }

    td:nth-child(3) {
      color: #bfdce8;
    }

    th:nth-child(3) {
      color: #fff;
    }

    th:nth-child(4),
    th:nth-child(5),
    td:nth-child(4),
    td:nth-child(5) {
      color: #80c7e4;
    }

    th:nth-child(6),
    th:nth-child(7),
    td:nth-child(6),
    td:nth-child(7) {
      color: #fda6f4;
    }

    tr:nth-child(odd) td {
      background-color: transparent !important;
    }

    td {
      &:nth-child(1) {
        font-weight: bold;
      }

      &.strikeColumn {
        min-width: 136px;

        .symbolCardContainer {
          padding-right: 4px;
        }
      }
    }

    tbody {
      tr:not(:first-child) {
        border-top: 5px solid transparent;
      }
    }
  }
}
