#conditionalMultileg {
  width: 1255px;

  .mcontent {
    font-size: 0.75rem;
    padding: 0;
    overflow: hidden;
    transition: height 0.3s ease;
    height: auto;
  }

  .tab-content,
  .tab-pane {
    height: 100%;
  }

  input,
  select {
    background-color: #333;
    border-color: #333;
    color: var(--color-text-primary) !important;
    font-size: 0.73rem;
    box-sizing: content-box;
  }

  select {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }

  button:not(.brokerCustomButton) {
    padding-top: 0.1rem !important;
  }

  .tableMultileg {
    .closeColumn {
      &:hover {
        opacity: 1;
        svg {
          stroke: #ce202a;
        }
      }

      svg {
        transition: stroke 0.2s;
      }
    }

    .qtdeColumn {
      input {
        color: #ff9a2c !important;
      }
    }

    .multilegOffersSpinners {
      padding: 6px 0 !important;
      vertical-align: middle;

      > span {
        margin-right: 6px;
        vertical-align: text-bottom;
      }

      > div {
        height: 22px;
        width: 22px;
      }
    }
  }
}

#conditionalMultileg {
  .containerAbaMultileg > div:first-child {
    border-right: none;
    margin-right: -1px;
  }

  .operationButtonRow.firstRow {
    margin-top: 16px;
  }

  .containerAbaMultileg {
    position: relative;

    .sectionTitle {
      position: absolute;
      left: 1px;
      right: 1px;
      text-align: center;

      background-color: #8ca6c3;
      color: #000;
      font-size: 14px;
      line-height: 20px;
      font-weight: 500;
    }
  }

  .tabMainContent,
  .divBook {
    margin-top: 28px;
  }

  .tabMainContent {
    border-right: none;
    margin-right: -1px;
  }

  .divBook {
    position: relative;

    .configIcon {
      right: 5px;
      top: 5px;
    }
  }
}
