.containerCombinacoesTHL {
  height: 785px;
  display: flex;
  align-items: flex-end;
  margin-right: 17px;
  margin-left: 103px;
  margin-top: 25px;
}

.tabelaCombinacoes {
  border-color: var(--cor-borda) !important;
}

.tabelaCombinacoes div {
  overflow: visible !important;
}
.tabelaCombinacoes th {
  border-bottom-width: 2px !important;
  overflow: visible !important;
}

.tabelaCombinacoes .react-bs-container-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tabelaCombinacoes .react-bs-container-body {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.tabelaCombinacoes th,
.tabelaCombinacoes td {
  border-color: var(--cor-borda) !important;
  text-align: center !important;
  position: relative;
}

.tabelaCombinacoes td {
  padding: 5px 3px !important;
  font-size: 0.7rem;
  vertical-align: middle;
}

/* Container dos inputs de filtro */
.tabelaCombinacoes th > div:not(.colunaDividida) {
  position: absolute;
  margin: 0 auto;
  top: -24px;
  padding-right: 5px;
  width: 100%;
}

.tabelaCombinacoes input,
.tabelaCombinacoes select {
  height: 20px;
  background-color: #333;
  border-color: #333;
  color: var(--cor-texto) !important;
  font-size: 0.7rem;
  text-align: center !important;
  position: relative;
  width: 100% !important;
  max-width: 100px;
}

.tabelaCombinacoes input:focus,
.tabelaCombinacoes select:focus {
  background-color: #333;
  border-color: #333;
}

.tabelaCombinacoes select option {
  color: var(--cor-texto) !important;
}

.tabelaCombinacoes select {
  padding: 0;
  text-align-last: right;
}

.colunaAcaoUlt .colunaDividida div {
  padding: 0 !important;
  width: 50%;
}

.colunaAcaoUlt .colunaDividida div:first-child {
  border-right: 1px solid var(--cor-borda);
}
.codigoColunaModelo div:first-child {
  display: flex;
  justify-content: flex-end;
  padding: 0 0px 0 10px;
}

.codigoColunaModelo div:last-child {
  display: flex;
  justify-content: flex-start;
  margin-left: 0.4rem;
}

.inputMinRange {
  top: -43px !important;
}

.inputMaxRange {
  top: -86px !important;
}

/* input valor para filtrar de montagem e desmontagem*/
.number-filter-input.form-control {
  top: -23px;
  margin-left: 0 !important;
  position: absolute;
  margin: 0 calc((100% - 125px) / 2) !important;
}

/* inputSelect  Montagem e desmontagem */
.colunaMontagemDesmontagem .number-filter-input.form-control,
.colunaMontagemDesmontagem .number-filter-comparator.form-control {
  max-width: 120px;
  display: block;
  margin: 0 auto;
}
