.containerCombinacoesTHL {
  margin-right: 5px;
  margin-left: 103px;
  border-bottom-left-radius: 5px;
  border-bottom: 1px solid var(--cor-borda);
  margin-top: 625px;
}

.tabelaCombinacoes {
  color: var(--cor-texto);
}

.tabelaCombinacoes .th,
.tabelaCombinacoes .td {
  text-align: center !important;
  position: relative;
}

.tabelaCombinacoes .td {
  padding: 5px 3px !important;
  font-size: 0.7rem;
  border-top: 1px solid var(--cor-borda);
  color: var(--cor-texto-discreto);
}

/* Container dos inputs de filtro */
.containerInputFiltro {
  position: absolute;
  margin: 0 auto;
  top: 0px;
  width: 100%;
  height: calc(100% - 28px);
  background-color: var(--background-color);
  display: flex;
  align-items: flex-end;
  padding: 0px 3px 3px 3px;
  justify-content: center;
}

.containerInputFiltro input,
.containerInputFiltro select {
  height: 20px;
  background-color: #333;
  border-color: #333;
  color: var(--cor-texto) !important;
  font-size: 0.7rem;
  width: 100% !important;
  max-width: 100px;
  padding-left: 3px !important;
}

.tabelaCombinacoes input::-webkit-outer-spin-button,
.tabelaCombinacoes input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.tabelaCombinacoes input[type="number"] {
  -moz-appearance: textfield;
}

.tabelaCombinacoes input:focus,
.tabelaCombinacoes select:focus {
  background-color: #333;
  border-color: #333;
}

.tabelaCombinacoes select option {
  color: var(--cor-texto) !important;
}

.tabelaCombinacoes select {
  padding: 0;
  text-align-last: right;
}

.colunaAcaoUlt {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.colunaAcaoUlt > div {
  width: 100%;
}

.colunaAcaoUlt .colunaDividida div {
  padding: 0 !important;
  width: 50%;
}

.colunaAcaoUlt .colunaDividida div:first-child {
  border-right: 1px solid var(--cor-borda);
}
.codigoColunaModelo div:first-child {
  display: flex;
  justify-content: flex-end;
  padding: 0 0px 0 10px;
}

.codigoColunaModelo div:last-child {
  display: flex;
  justify-content: flex-start;
  margin-left: 0.4rem;
}

/* Posicionamento de inputs acima do thead e configuração do .th*/
.divLabelColuna {
  background-color: var(--light-background-color);
  border: 1px solid var(--cor-borda);
  border-left: none;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 72px;
}

.divLabelColuna .colunaDividida {
  width: 100%;
}

/* Posicionamento de inputs acima do  */

.tabelaCombinacoes .td:first-child {
  border-left: 1px solid var(--cor-borda);
}

.selectOperacaoFiltro {
  position: absolute !important;
  bottom: 0px;
  right: 0px;
}

.selectOperacaoFiltro > div {
  height: 20px !important;
  background-color: #333 !important;
  color: var(--cor-texto) !important;
  width: 25px !important;
  border: none;
  text-align: center !important;
  font-size: 0.73rem !important;
}

.selectOperacaoFiltro .ant-select-selection__rendered {
  height: 20px !important;
  line-height: 20px !important;
}

.selectOperacaoFiltro .ant-select-arrow {
  width: 100%;
  right: 0 !important;
}

.selectOperacaoFiltroDropdown {
  width: 50px !important;
}

#thl .ant-select-focused .ant-select-selection {
  box-shadow: 0 0 0px 3px #1f3b69c9 !important;
}

.containerTabelaComb {
  width: 100%;
  overflow: auto;
}

.containerTabelaComb > div {
  min-width: 1084px !important;
}

.containerTabelaComb
  > div
  > div:nth-child(2)
  > div:nth-child(2)::-webkit-scrollbar,
.containerTabelaComb::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.containerTabelaComb
  > div
  > div:nth-child(2)
  > div:nth-child(2)::-webkit-scrollbar-track,
.containerTabelaComb::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #222;
}

.containerTabelaComb
  > div
  > div:nth-child(2)
  > div:nth-child(2)::-webkit-scrollbar-thumb,
.containerTabelaComb::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #444;
}

.tabelaCombinacoes .td {
  border-right: 1px solid var(--cor-borda);
}

.table-header-row {
  width: calc(100% - 12px) !important;
}

.linha-impar .td {
  background-color: var(--light-background-color);
}

.margemScrollbar.td:last-child {
  margin-right: 12px;
}

.tabelaCombinacoes {
  margin-bottom: 0;
}

.tabelaCombinacoes .thead {
  font-weight: 700;
}

.tabelaCombinacoes .th:first-child .divLabelColuna {
  border-left: 1px solid var(--cor-borda) !important;
  border-top-left-radius: 5px !important;
}

.tabelaCombinacoes .th:last-child .divLabelColuna {
  border-top-right-radius: 5px !important;
}
