#thl {
  width: 1200px;
  margin-left: 5px;
}

.containerTHL {
  display: flex;
  align-items: center;
}

.containerVencimentos {
  padding-top: 15px;
  padding-right: 3px;
  flex: 1;
}

.containerPesquisaAtivo {
  width: 180px;
}

#scrollTabelaVencimento {
  position: relative;
  border: 1px solid var(--cor-borda);
  margin-top: 0.5rem;
  border-radius: 6px;
  /* margin-left: 5em; */
  /* height: 45vh; */
}

#scrollTabelaVencimento .ps__rail-x {
  opacity: 1;
  background: #5c5c5c;
  height: 3px;
  margin: 0 35%;
  position: fixed;
  bottom: 50px !important;
  left: 110px !important;
}

#scrollTabelaVencimento .ps__thumb-x {
  height: 8px;
  margin-bottom: -4px;
  background: #fff;
  position: absolute;
}

.containerTabela {
  width: 1050px;
  white-space: nowrap;
  margin-bottom: 15px;
}

.tabelaVencimentos {
  margin-bottom: 0;
  white-space: nowrap;
  border-collapse: separate !important;
  border-spacing: 0;
}

/* cabeçalho fixo */
.tabelaVencimentos thead {
  position: fixed;
  background-color: var(--light-background-color);
  width: 1070px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

/* espaço antes do cabeçalho fixo */
tbody::before {
  content: "";
  display: table-row;
  height: 59px;
}

/* tamanho minimo da coluna strike */
.tabelaVencimentos tr td:first-child {
  min-width: 46px;
}

/* tamanho minimo do cabeçalho preço da linha */
.tabelaVencimentos tr:nth-child(2) th:nth-child(2) {
  min-width: 162px;
}

/* tamanho minimo da coluna 'ano' */
.tabelaVencimentos tr:nth-child(2) th:nth-child(3) {
  min-width: 863px;
}

/* cabeçalho vencimentos */
.tabelaVencimentos tr:first-child th {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

/* colunas strike e preço das linhas fixas */

/* colunas de dados fixas */
.tabelaVencimentos tbody tr td:nth-child(1),
.tabelaVencimentos tbody tr td:nth-child(2) {
  position: fixed;
  background-color: var(--light-background-color);
}

/* coluna de dados Strike */
.tabelaVencimentos tbody tr td:nth-child(1) {
  min-height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* primeira coluna vazia Strike */
.tabelaVencimentos tbody tr:first-child td:nth-child(1) {
  min-height: 22px;
}

/* colunas apenas com o Strike */
.tabelaVencimentos .linhasStrike td:first-child {
  min-height: 17px;
}

/* cabeçalho colunas de dados preço da linha */
.tabelaVencimentos tbody tr:first-child td:nth-child(2) {
  min-width: 162px;
  min-height: 22px;
  left: 156px;
}

/* altura colunas de dados preço da linha */
.tabelaVencimentos tbody tr td:nth-child(2) {
  min-width: 162px;
  min-height: 52px;
  left: 156px;
  overflow-y: hidden;
}

.linhasStrike::after {
  content: "";
  display: block;
  height: 17px;
}

.tabelaVencimentos tbody tr td:nth-child(3)::before {
  content: "";
  display: block;
  width: 197px;
}

.tabelaVencimentos tbody tr:first-child td {
  font-size: 0.9rem;
}

.tabelaVencimentos td {
  font-size: 0.7rem;
  padding: 0 !important;
  height: 0 !important;
}

.tabelaVencimentos tbody tr:first-child td {
  padding: 0px 5px !important;
}

.tabelaVencimentos td,
.tabelaVencimentos th {
  border-color: var(--cor-borda) !important;
  border-right: 1px dashed var(--cor-borda);
  border-left: none;
}

.tabelaVencimentos td:nth-child(2),
.tabelaVencimentos th:nth-child(2) {
  border-style: solid;
  border-left-width: 1px;
}

.tabelaVencimentos tr:first-child th:nth-child(1) {
  position: relative;
}

.tabelaVencimentos th:nth-child(1),
.tabelaVencimentos td:nth-child(1) {
  border-right: none;
  /* margin-top: -1px;
  position: fixed;
  left: 110px;
  width: 74px;
  top: auto;
  border-top-width: 1px; */
}

.tabelaVencimentos th:first-child {
  border-left: 0;
}

.tabelaVencimentos th:last-child {
  border-right: 0;
}

.tabelaVencimentos td {
  border-bottom: 0;
}

.tabelaVencimentos td:first-child {
  border-left: 0;
}

.tabelaVencimentos td:last-child {
  border-right: 0;
}

.tabelaVencimentos tr:first-child .colunaPrecoLinha div {
  padding: 4px 0.8px;
}

.tabelaVencimentos tr:first-child .colunaPrecoLinha div:first-child {
  border-right: 1px solid var(--cor-borda);
}

.colunaPrecoLinha {
  height: 100%;
}

.tabelaVencimentos .colunaPrecoLinha > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6px 10px !important;
  width: 50%;
  min-width: 70px;
}

.precoLinhaMontar {
  color: #008fca;
}

.precoLinhaDesmontar {
  color: #eaad15;
}

.tabelaVencimentos .colunaPrecoLinha > div:first-child {
  border-right: 1px dashed var(--cor-borda);
  padding: 4px 0.8px;
}

.containerColunaMes {
  display: flex;
  justify-content: center;
  height: 100%;
}

.containerColunaMes > div {
  padding: 6px 5px !important;
}

.itemAtivoQtdeVazio {
  min-width: 164px;
}

.itemAtivosQtde {
  background-color: #b7b7b7;
  border-radius: 5px;
  padding: 2px 6px 2px 2px;
  display: flex;
  align-items: center;
}

.itemAtivos {
  background-color: #222;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 1px 5px;
  color: #b7b7b7;
  min-width: 118px;
  display: flex;
  align-items: center;
}

.itemQtde {
  padding: 1px 5px;
  color: #314452;
}

.bookAtivoTHL {
  display: flex;
  justify-content: space-evenly;
  color: #aa88bc;
}

.imgModeloTHL {
  height: 16px;
}

.containerPrecoMontDesmont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  border-left: 1px dashed var(--cor-borda-discreta);
  padding-left: 5px;
  color: var(--cor-texto);
  min-width: 47px;
}

.containerMapaCalor {
  width: 85px;
  margin-left: 3px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.7rem;
}

.containerMapaCalor img {
  margin-right: 10px;
}

.labelMinMax {
  margin-right: 10px;
}

.containerMapaCalor label {
  vertical-align: sub;
}

.radioMapaCalor label {
  margin-left: 30px;
  color: var(--cor-texto);
}

.divMapaSemCor {
  height: 16px;
}

#faixa4MapaCalor {
  position: absolute;
  top: 307px;
  left: 60px;
}

#faixa3MapaCalor {
  position: absolute;
  top: 337px;
  left: 60px;
}

#faixa2MapaCalor {
  position: absolute;
  top: 370px;
  left: 60px;
}
