/* Abrange a tela thl, tabela de vencimento e mapa de calor */

#thl {
  /* width: calc(100% - 95px); */
  margin-left: 5px;
  overflow: hidden;
}

#thl .mcontent {
  margin-right: 0;
  padding-bottom: 15px;
}

#thl .mheader {
  position: fixed;
  width: calc(100% - 17px);
  padding-right: 1px;
}

#scrollTabelaVencimento {
  border: 1px solid var(--cor-borda);
  margin-top: 0.5rem;
  border-radius: 6px;
  position: fixed; /*  */
  height: 540px; /*  */
  width: calc(
    100% - 138px
  ); /* 120px de diferença pro mcontent + 15px scrollbar y + 5*/
  top: 67px;
  margin-left: 103px;
}

#scrollTabelaVencimento .ps__rail-x {
  opacity: 1;
  background: #5c5c5c;
  height: 3px;
  margin: 0 calc((100% - 310px) / 2);
  position: fixed;
  top: 622px !important;
  left: 110px !important;
  z-index: 999;
}

#scrollTabelaVencimento .ps__thumb-x {
  height: 8px;
  margin-bottom: -4px;
}

#scrollTabelaVencimento .ps__rail-y {
  margin: 180px 0;
  top: 83px !important;
  position: fixed;
  width: 3px;
  background: #5c5c5c;
  opacity: 1;
  right: 13px !important;
}

#scrollTabelaVencimento .ps__thumb-y {
  width: 8px;
  margin-right: -4px;
}

#thl input,
#thl select {
  background-color: #333;
  border-color: #333;
  color: var(--cor-texto);
}

.containerTHL {
  padding-top: 625px;
}

.containerPesquisaAtivo {
  width: 180px;
  position: fixed; /*  */
  top: 41px;
  margin-left: 103px;
}

.tabelaVencimentos {
  margin-bottom: 0;
  white-space: nowrap;
  border-collapse: separate !important;
  border-spacing: 0;
}

/* cabeçalho fixo */
.tabelaVencimentos thead {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  z-index: 2;
}

.tabelaVencimentos thead th {
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  background-color: var(--light-background-color);
}

.tabelaVencimentos thead tr:first-child th {
  position: fixed;
  width: calc(100% - 140px);
  z-index: 2;
  background-color: var(--light-background-color);
  left: 115px;
}

thead th:first-child {
  left: 0;
  z-index: 2;
}

thead th:nth-child(3) {
  z-index: 1;
}

.tabelaVencimentos tbody {
  overflow-y: hidden !important;
  max-height: 500px !important;
}

.tabelaVencimentos tbody tr:nth-child(1n + 2) {
  color: var(--cor-texto-discreto);
}

/* espaço antes do cabeçalho fixo */
.tabelaVencimentos tbody::before {
  content: "";
  display: table-row;
  height: 30px;
}

/* tamanho minimo da coluna strike */
.tabelaVencimentos tr td:first-child {
  min-width: 47px;
}

/* cabeçalho coluna 2 preço da linha */
.tabelaVencimentos tr:nth-child(2) th:nth-child(2) {
  z-index: 2;
}

.colunaAno {
  text-align: start;
}

/* cabeçalho vencimentos */
.tabelaVencimentos tr:first-child th {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.tabelaVencimentos tr:nth-child(2) th:nth-child(2) {
  left: 47px;
}

.tabelaVencimentos tr:nth-child(2) th {
  top: 30px;
}

/* colunas strike e preço das linhas fixas */
.tabelaVencimentos tbody tr:nth-child(1n + 2) td:nth-child(1),
.tabelaVencimentos tbody tr:nth-child(1n + 2) td:nth-child(2) {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 0px; /* Para elementos móveis verticalmente nao é necessario Top, pois vão subir e se esconder atras do cabeçalho */
}

.tabelaVencimentos tbody tr:nth-child(even) td:nth-child(1),
.tabelaVencimentos tbody tr:nth-child(even) td:nth-child(2) {
  background-color: var(--light-background-color) !important;
}

.tabelaVencimentos tbody tr:nth-child(odd) td:nth-child(1),
.tabelaVencimentos tbody tr:nth-child(odd) td:nth-child(2) {
  background-color: var(--background-color) !important;
}

.tabelaVencimentos tbody tr:first-child td {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  background-color: var(--light-background-color);
  top: 60px;
  z-index: 2;
  border-bottom: 1px solid var(--cor-borda) !important;
}

.tabelaVencimentos tbody tr:first-child td:nth-child(1n + 3) {
  left: 0px;
  z-index: 1;
}

.tabelaVencimentos tbody tr td:nth-child(1) {
  left: 0px;
}

.tabelaVencimentos tbody tr td:nth-child(2) {
  left: 47px;
}
/* posicionamento sticky */

.tabelaVencimentos tbody tr:first-child td {
  font-size: 0.9rem;
}

.tabelaVencimentos td {
  font-size: 0.7rem;
  padding: 0px 5px !important;
  height: 0 !important;
}

.tabelaVencimentos td,
.tabelaVencimentos th {
  border-color: var(--cor-borda) !important;
  border-right: 1px dashed var(--cor-borda-discreta) !important;
  border-left: none;
}

.tabelaVencimentos td:nth-child(2),
.tabelaVencimentos th:nth-child(2) {
  border-style: solid !important;
  border-left-width: 1px;
  border-color: var(--cor-borda) !important;
}

.tabelaVencimentos th:nth-child(1),
.tabelaVencimentos td:nth-child(1) {
  border-right: none !important;
}

.tabelaVencimentos td {
  border-bottom: 0;
}

.tabelaVencimentos tr:first-child .colunaPrecoLinha div {
  padding: 4px 0.8px;
}

.tabelaVencimentos tr:first-child .colunaPrecoLinha div:first-child {
  border-right: 1px solid var(--cor-borda);
}

/* primeira coluna Strike, ultimas colunas cabeçalho e ultimas colunas do ultimo mês */
.tabelaVencimentos tr th:first-child,
.tabelaVencimentos tr th:last-child,
.tabelaVencimentos tr td:last-child {
  border-right: none !important;
}

.colunaPrecoLinha {
  height: 100%;
}

.tabelaVencimentos .colunaPrecoLinha > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 10px 0 10px !important;
  width: 50%;
  min-width: 70px;
}

.precoLinhaMontar {
  padding: 5px 0 5px 0;
}

.precoLinhaDesmontar {
  color: #a67269;
}

.tabelaVencimentos .colunaPrecoLinha > div:first-child {
  border-right: 1px dashed var(--cor-borda-discreta);
  padding: 4px 0.8px;
}

.containerColunaMes {
  display: flex;
  justify-content: center;
  height: 100%;
}

.containerColunaMes > div {
  padding: 5px 0 5px 4px !important;
}

.itemAtivosQtde {
  border-radius: 5px;
  padding: 2px 2px 2px 2px;
  display: flex;
  align-items: center;
  min-width: 124px;
  justify-content: start;
}

.itemAtivosQtdeCustodia {
  background-color: #b7b7b7;
}

.itemAtivosQtdeCustodia .itemAtivos {
  background-color: #222 !important;
}

.itemAtivos {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 1px 5px;
  min-width: 89px;
  display: flex;
  align-items: center;
}

.itemQtde {
  padding: 1px 5px;
  color: #314452;
}

.bookAtivoTHL {
  display: flex;
  justify-content: space-evenly;
}

.imgModeloTHL {
  height: 15px;
  vertical-align: text-top;
}

.containerPrecoMontDesmont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  border-left: 1px dashed var(--cor-borda-discreta);
  min-width: 46px;
}

.containerMapaCalor {
  width: 85px;
  margin-left: 3px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.7rem;
  position: fixed;
  top: calc(0% + 67px + 270px - 128px);
}

.containerMapaCalor img {
  margin-right: 10px;
}

.labelMinMax {
  margin-right: 10px;
}

.containerMapaCalor label {
  vertical-align: sub;
}

.radioMapaCalor label {
  margin-left: 30px;
  color: var(--cor-texto);
}

.divMapaSemCor {
  height: 16px;
}

.faixasTemperatura {
  justify-content: space-between;
  left: 49px;
  flex-direction: column;
  display: flex;
  position: absolute;
  top: 54px;
  height: 73px;
  white-space: nowrap;
}

.divNomeMes {
  width: 100%;
  max-width: 128px;
  min-height: 16px;
}

.linhasStrike .divClicavel {
  outline: none !important;
}

.roxoTextoTHL {
  color: var(--roxo-texto-thl);
}
