#thl {
  width: 1200px;
  margin-left: 5px;
}

.containerTHL {
  display: flex;
  align-items: center;
}

.containerMapaCalor {
  width: 70px;
  padding-left: 5px;
  padding-right: 5px;
}

.containerVencimentos {
  padding-top: 15px;
  padding-right: 3px;
  flex: 1;
}

.containerPesquisaAtivo {
  width: 180px;
}

#scrollTabelaVencimento {
  position: relative;
  border: 1px solid var(--cor-borda);
  margin-top: 0.5rem;
  border-radius: 6px;
}

#scrollTabelaVencimento .ps__rail-x {
  opacity: 1;
  background: #5c5c5c;
  height: 3px;
  margin: 0 35%;
  margin-bottom: 5px;
}

#scrollTabelaVencimento .ps__thumb-x {
  height: 8px;
  margin-bottom: -4px;
  background: #fff;
}

.containerTabela {
  width: 1100px;
  white-space: nowrap;
  margin-bottom: 15px;
}

.tabelaVencimentos {
  margin-bottom: 0;
  white-space: nowrap;
}

.tabelaVencimentos tbody tr:first-child td {
  font-size: 0.9rem;
}

.tabelaVencimentos td {
  font-size: 0.7rem;
  padding: 0 !important;
  height: 0 !important;
}

.tabelaVencimentos tbody tr:first-child td {
  padding: 0px 5px !important;
}

.tabelaVencimentos td,
.tabelaVencimentos th {
  border-color: var(--cor-borda) !important;
  border-right: 1px dashed var(--cor-borda);
  border-left: 1px dashed var(--cor-borda);
}

.tabelaVencimentos td:nth-child(2),
.tabelaVencimentos th:nth-child(2) {
  border-style: solid;
}

.tabelaVencimentos th:first-child {
  border-left: 0;
}

.tabelaVencimentos th:last-child {
  border-right: 0;
}

.tabelaVencimentos td {
  border-bottom: 0;
}

.tabelaVencimentos td:first-child {
  border-left: 0;
}

.tabelaVencimentos td:last-child {
  border-right: 0;
}

.tabelaVencimentos tr:first-child .colunaPrecoLinha div {
  padding: 4px 0.8px;
}

.tabelaVencimentos tr:first-child .colunaPrecoLinha div:first-child {
  border-right: 1px solid var(--cor-borda);
}

.colunaPrecoLinha {
  height: 100%;
}

.tabelaVencimentos .colunaPrecoLinha > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6px 10px !important;
  width: 50%;
  min-width: 70px;
}

.precoLinhaMontar {
  color: #008fca;
}

.precoLinhaDesmontar {
  color: #eaad15;
}

.tabelaVencimentos .colunaPrecoLinha > div:first-child {
  border-right: 1px dashed var(--cor-borda);
  padding: 4px 0.8px;
}

.containerColunaMes {
  display: flex;
  justify-content: center;
  height: 100%;
}

.containerColunaMes > div {
  padding: 6px 5px !important;
}

.itemAtivoQtdeVazio {
  min-width: 164px;
}

.itemAtivosQtde {
  background-color: #b7b7b7;
  border-radius: 5px;
  padding: 2px 6px 2px 2px;
  display: flex;
  align-items: center;
}

.itemAtivos {
  background-color: #222;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 1px 5px;
  color: #b7b7b7;
  min-width: 118px;
  display: flex;
  align-items: center;
}

.itemQtde {
  padding: 1px 5px;
  color: #314452;
}

.bookAtivoTHL {
  display: flex;
  justify-content: space-evenly;
  color: #aa88bc;
}

.imgModeloTHL {
  height: 16px;
}

.containerPrecoMontDesmont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  border-left: 1px dashed var(--cor-borda);
  padding-left: 5px;
  color: #fff;
  min-width: 47px;
}
