#scrollTabelaVencimento {
  border: 1px solid var(--cor-borda);
  margin-top: 0.5rem;
  border-radius: 6px;
  position: fixed; /*  */
  height: 540px; /*  */
  width: calc(
    100% - 138px
  ); /* 120px de diferença pro mcontent + 15px scrollbar y + 5*/
  top: 67px;
  margin-left: 103px;
}

#scrollTabelaVencimento .ps__rail-x {
  opacity: 1;
  background: #5c5c5c;
  height: 3px;
  margin: 0 calc((100% - 310px) / 2);
  position: fixed;
  top: 622px !important;
  left: 110px !important;
  z-index: 999;
}

#scrollTabelaVencimento .ps__thumb-x {
  height: 8px;
  margin-bottom: -4px;
}

#scrollTabelaVencimento .ps__rail-y {
  margin: 180px 0;
  top: 83px !important;
  position: fixed;
  width: 3px;
  background: #5c5c5c;
  opacity: 1;
  right: 13px !important;
}

#scrollTabelaVencimento .ps__thumb-y {
  width: 8px;
  margin-right: -4px;
}

.tabelaVencimentos {
  margin-bottom: 0;
  white-space: nowrap;
  border-collapse: separate !important;
  border-spacing: 0;
}

/* cabeçalho fixo */
.tabelaVencimentos thead {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  z-index: 2;
}

.tabelaVencimentos thead th {
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  background-color: var(--light-background-color);
}

.tabelaVencimentos thead tr:first-child th {
  position: fixed;
  width: calc(100% - 140px);
  z-index: 2;
  background-color: var(--light-background-color);
  left: 110px;
}

thead th:first-child {
  left: 0;
  z-index: 2;
}

thead th:nth-child(n + 3) {
  z-index: 1;
}

.tabelaVencimentos tbody {
  overflow-y: hidden !important;
  max-height: 500px !important;
}

.tabelaVencimentos tbody tr:nth-child(1n + 2) {
  color: var(--cor-texto-discreto);
}

/* espaço antes do cabeçalho fixo */
.tabelaVencimentos tbody::before {
  content: "";
  display: table-row;
  height: 30px;
}

/* tamanho minimo da coluna strike */
.tabelaVencimentos tr td:first-child {
  width: 55px;
}

/* cabeçalho coluna 2 preço da linha */
.tabelaVencimentos tr:nth-child(2) th:nth-child(2) {
  z-index: 2;
}

.colunaAno {
  text-align: start;
}

/* cabeçalho vencimentos */
.tabelaVencimentos tr:first-child th {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.tabelaVencimentos tr:nth-child(2) th:nth-child(2) {
  left: 55px;
}

.tabelaVencimentos tr:nth-child(2) th {
  top: 30px;
}

/* colunas strike e preço das linhas fixas */
.tabelaVencimentos tbody tr:nth-child(1n + 2) td:nth-child(1),
.tabelaVencimentos tbody tr:nth-child(1n + 2) td:nth-child(2) {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 0px; /* Para elementos móveis verticalmente nao é necessario Top, pois vão subir e se esconder atras do cabeçalho */
}

.tabelaVencimentos tbody tr:nth-child(even) td:nth-child(1),
.tabelaVencimentos tbody tr:nth-child(even) td:nth-child(2) {
  background-color: var(--light-background-color) !important;
}

.tabelaVencimentos tbody tr:nth-child(odd) td:nth-child(1),
.tabelaVencimentos tbody tr:nth-child(odd) td:nth-child(2) {
  background-color: var(--background-color) !important;
}

.tabelaVencimentos tbody tr:first-child td {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  background-color: var(--light-background-color);
  top: 60px;
  z-index: 2;
  border-bottom: 1px solid var(--cor-borda) !important;
}

.tabelaVencimentos tbody tr:first-child td:nth-child(1n + 3) {
  left: 0px;
  z-index: 1;
}

.tabelaVencimentos tbody tr td:nth-child(1) {
  left: 0px;
}

.tabelaVencimentos tbody tr td:nth-child(2) {
  left: 55px;
}
/* posicionamento sticky */

.tabelaVencimentos tbody tr:first-child td {
  font-size: 0.9rem;
}

.tabelaVencimentos td {
  font-size: 0.7rem;
  padding: 0px 5px !important;
  height: 0 !important;
}

.tabelaVencimentos td,
.tabelaVencimentos th {
  border-color: var(--cor-borda) !important;
  border-right: 1px dashed var(--cor-borda-discreta) !important;
  border-left: none;
}

.tabelaVencimentos td:nth-child(2),
.tabelaVencimentos th:nth-child(2) {
  border-style: solid !important;
  border-left-width: 1px;
  border-color: var(--cor-borda) !important;
}

.tabelaVencimentos th:nth-child(1),
.tabelaVencimentos td:nth-child(1) {
  border-right: none !important;
}

.tabelaVencimentos td {
  border-bottom: 0;
}

/* primeira coluna Strike, ultimas colunas cabeçalho e ultimas colunas do ultimo mês */
.tabelaVencimentos tr th:first-child,
.tabelaVencimentos tr th:last-child,
.tabelaVencimentos tr td:last-child {
  border-right: none !important;
}

.colunaPrecoLinha {
  height: 100%;
}

/* container total  e mensal */
.tabelaVencimentos .colunaPrecoLinha > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 84px;
}

.precoLinhaMontar,
.precoLinhaDesmontar {
  display: flex;
  align-items: center;
}

.precoLinhaDesmontar {
  color: var(--cor-vermelha-venda);
}

/* subcoluna total */
.tabelaVencimentos .colunaPrecoLinha > div:first-child {
  border-right: 1px dashed var(--cor-borda-discreta) !important;
  padding: 0px 10px 0 5px;
}

/* subcoluna mensal */
.tabelaVencimentos .colunaPrecoLinha > div:last-child {
  padding: 0px 5px 0 10px;
}

.tabelaVencimentos tr:first-child .colunaPrecoLinha div:first-child {
  border-right: 1px solid var(--cor-borda);
}

.containerColunaMes {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.containerCelula {
  width: 139px;
  height: 53px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.containerCelula:hover {
  opacity: 1;
}

.containerCelula:focus{
  outline: none !important;
}

.celulaSelecionada {
  border: 2px solid #fc990a;
  border-radius: 2px;
}

.itemAtivosQtde {
  border-radius: 5px;
  padding: 2px 0px 2px 0px;
  display: flex;
}

.itemAtivosQtdeCustodia {
  background-color: #b7b7b7;
}

.itemAtivosQtdeCustodia .itemAtivos {
  background-color: #222 !important;
}

.itemAtivos {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 1px 0px;
  min-width: 96px;
  margin-left: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgModeloTHL {
  height: 15px;
  vertical-align: text-top;
}

.itemQtde {
  padding: 1px 0;
  color: #314452;
  min-width: 27px;
}

.bookAtivoTHL {
  display: flex;
  justify-content: space-around;
  margin-top: 3px;
  min-width: 128px;
}

.bookAtivoTHL > div {
  box-sizing: border-box;
  height: 18px;
  border-radius: 4px;
  padding: 0px 3px;
  border: 1px solid transparent;
}

.bookAtivoTHL > div:focus {
  outline: none !important;
}

.bookAtivoTHL > div:first-child {
  margin-right: 1px;
}

.bookAtivoTHL > div:last-child {
  margin-left: 1px;
}

.bookSelecionado_compra {
  border-color: var(--cor-azul-compra) !important;
}

.bookSelecionado_venda {
  border-color: var(--cor-vermelha-venda) !important;
}

.containerPrecoMontDesmont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5px;
  border-left: 1px dashed var(--cor-borda-discreta);
  min-width: 75px;
  margin-right: -6px;
  height: 100%;
}

.divNomeMes {
  width: 100%;
  max-width: 139px;
  min-height: 16px;
}

.linhasStrike .divClicavel {
  outline: none !important;
}

.roxoTextoTHL {
  color: var(--roxo-texto-thl);
}

.spinnerTabelaVencimentos {
  top: 337px !important;
}

.spinnerTabelaVencimentos .ant-spin-dot {
  font-size: 14px;
  width: 35px;
  height: 35px;
}

.ativoExecutando {
  color: yellow;
}

.faixa1Mapa {
  background-color: #fff100;
  color: black;
  border-left: none;
}
.faixa2Mapa {
  background-color: #fcb80f;
  color: black;
  border-left: none;
}
.faixa3Mapa {
  background-color: #f7921c;
  color: black;
  border-left: none;
}
.faixa4Mapa {
  background-color: #f36e21;
  color: black;
  border-left: none;
}
.faixa5Mapa {
  background-color: #ed1b24;
  color: black;
  border-left: none;
}
