.bodyPosicao {
  padding: 0.8rem;
}

.bodyPosicao h6 {
  font-size: 0.9rem !important;
}

.rowCheckbox {
  border-bottom: 1px dashed var(--cor-borda);
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 0.1rem;
}

.divCheckbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.text-align-right {
  text-align: right;
}

.rowCompra {
  border-bottom: 1px solid var(--cor-borda);
}

.rowCompra > div:first-child {
  border-right: 1px solid var(--cor-borda);
  padding-bottom: 1rem;
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.rowCompra > div:nth-child(2) {
  flex: 1;
}

.colTabela {
  padding-right: 2px;
  padding-left: 0;
}

.colunaCompraVenda {
  display: flex;
  justify-content: space-between;
}

.tabelaCompraPosicao {
  margin-bottom: 0 !important;
  margin-top: 0px !important;
  height: 100%;
}

.tabelaCompraPosicao > thead > tr > th {
  border-right: 1px solid var(--cor-borda);
  color: #8fb9a1;
}

.tabelaCompraPosicao > thead > tr > th:last-child {
  border-right: none;
}

.tabelaCompraPosicao > thead > tr > th:last-child > span:first-child {
  color: #0790c9;
}

.tabelaCompraPosicao > thead > tr > th:last-child > span:last-child {
  color: #a6736a;
}

.tabelaCompraPosicao td {
  border-right: 1px solid var(--cor-borda);
  vertical-align: middle;
}

.tabelaCompraPosicao > tbody > tr:last-child > td {
  padding-bottom: 0.8rem !important;
}

.colunaTotal {
  flex: 2 !important;
}

.containerGrafico {
  background-color: var(--light-background-color);
  border-radius: 5px;
}

.graficoVermelho {
  background-color: var(--cor-vermelha-venda) !important;
}

.graficoAmarelo {
  background-color: #ddbe05 !important;
}

.graficoVerde {
  background-color: #265626 !important;
}

.textosTitulos {
  color: #8fb9a1;
}

.textoPorcentagemPositiva {
  color: #40b44a;
}

.textoPorcentagemNegativa {
  color: #ce202a;
}

.saldoOpPositivo {
  color: #40b44a;
}

.saldoOpNegativo {
  color: #ce202a;
}

.rangePositivo::-webkit-slider-runnable-track {
  background-color: #8fb9a1 !important;
}

.rangeNegativo::-webkit-slider-runnable-track {
  background-color: #a6736a !important;
}

.inputRange::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background: #fff !important;
  box-shadow: 0 0 1px 4px #666 !important;
  height: 10px;
  width: 10px;
  margin-top: -1px;
}

/*
box-shadow: 0 0 1px 3px #666 !important;
*/
