#posicao_custodia {
  margin-left: 5px;
  width: 985px;
}

#posicao_custodia .mcontent {
  font-size: 0.75rem;
  margin-right: 0 !important;
}

.containerTipoLista {
  margin-left: -8px;
  margin-right: -7px;
}

.tableListaCompleta {
  background-color: var(--light-background-color);
  color: #ddd;
  padding: 20px;
}

.tableColunaDividida {
  color: #ddd;
  background-color: inherit !important;
  margin-bottom: 0 !important;
}

.tableListaCompleta td,
.tableListaCompleta th {
  border-right: 1px solid var(--cor-borda);
  padding-left: 0.7rem !important;
  padding-right: 0.7rem !important;
}

.tableListaCompleta th {
  color: #bd912e;
}

.tableListaCompleta tbody tr td:last-child {
  border-right: none;
}

.colunaDividida {
  display: flex;
  flex-direction: row;
}

.colunaDividida div {
  flex: 1;
  border-right: none;
}

th .colunaDividida div {
  padding-left: 0.7rem !important;
  padding-right: 0.7rem !important;
}

.bodyListaCompleta {
  padding: 0.5rem;
}

.rowHeaderListaCompleta {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.divSeletor {
  display: flex;
  border: 2px solid var(--cor-borda);
  border-radius: 22px;
  height: 38px;
}

.divSeletor > div {
  border-right: 2px solid var(--cor-borda);
  flex: 1;
  padding: 0.65rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem !important;
}

.divSeletor > div > h6 {
  font-size: 0.75rem !important;
}

.divSeletor > div:first-child {
  border-bottom-left-radius: 22px;
  border-top-left-radius: 22px;
}

.divSeletor > div:last-child {
  border-bottom-right-radius: 22px;
  border-top-right-radius: 19px;
}

.divSeletor > div:last-child {
  border-right: none;
}

.seletorAtivo {
  background-color: #324552 !important;
  outline: none !important;
}

.formPosicao {
  font-size: 1rem;
  background-color: #444;
  border-color: #444;
  color: var(--cor-texto);
  height: 30px;
}

.divIconeConfigOrdernar {
  display: flex;
  justify-content: center;
}

.divIconeConfigAmpliado {
  display: flex;
  justify-content: flex-end;
  padding-right: 1.5rem;
}

.rowListagenItens {
  display: flex;
  flex-wrap: wrap;
  width: 89.9%;
  padding-left: 0.5px;
}

.rowListagenItens > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.itemListaCompleta {
  width: 180px;
}

.rowAtivosEmblema {
  justify-content: space-evenly;
  align-items: flex-end;
  height: 48.75px;
  margin: 0 !important;
}

.itemCustodiaCompra {
  color: #008fca;
  font-size: 0.85rem;
}

.itemCustodiaVenda {
  color: #a67269;
  font-size: 0.85rem;
}

.containerEmblema {
  padding: 0.4rem;
}

.containerSliderTopo {
  display: flex;
  flex-direction: row;
  padding: 0 0.5rem;
}

.sliderTopo {
  height: 5px;
  background-color: #4e4f4e;
  flex: 17;
}

.meioSliderTopo {
  height: 5px;
  background-color: #008fca;
  flex: 1;
}

.divSetaPorcentagem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerEmblema h3 {
  margin-bottom: 0 !important;
}

.setaEmblema {
  height: 11px !important;
}

.rowTabela {
  margin-left: -6px;
  margin-right: -6px;
}

.tabelaExecutando {
  background-color: var(--light-background-color);
  color: #ddd;
}

.tabelaExecutando > tbody > tr:nth-child(even) > td,
.tabelaExecutando > tbody > tr:nth-child(even) > th {
  background-color: var(--background-color) !important;
}

.iconeResumido path {
  fill: var(--cor-texto) !important;
}
