.App {
  text-align: center;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  padding-top: 5px
}

.appbody {
  margin-left: 10px;
  margin-right: 10px;
}
