.rowBodyHeader {
  text-align: center;
  justify-content: center;
}

.rowBodyHeader h5 {
  font-size: 0.9rem;
}

.colAtivo1BodyHeader {
  padding-right: 0;
  padding-left: 0;
}

.colAtivo2BodyHeader {
  padding-left: 0;
}

.colValorBodyHeader {
  padding-right: 0;
}

.colIconeSetaBodyHeader {
  padding-left: 0;
}

.colPorcentagemBodyHeader {
  padding-right: 0;
}

.colDataBodyHeader {
  padding-left: 0;
}

.dataBodyHeader {
  font-size: 80%;
}

.iconeSeta {
  max-width: 1.8vmin;
}

.porcentagemPositiva {
  color: green;
}

.porcentagemNegativa {
  color: red;
}

.rowToggleSwitch {
  display: flex;
  justify-content: flex-end;
  padding-right: 2.5rem;
  padding-top: 0.1rem;
}

.padding-right {
  padding-right: 0.5rem;
  padding-bottom: 0.3rem;
}

.react-switch-handle {
  background: #000 !important;
  border: 4px solid #444 !important;
  height: 19px !important;
  width: 19px !important;
}
.rowToggleSwitch > div {
  border: 2px solid #444 !important;
}

.react-switch-bg {
  height: 21px !important;
  width: 49px !important;
}
