#bookofertas .modal-content {
  max-width: 45vmin;
}
.mytable {
  background: #000;
  margin: 0;
  color: #ddd;
}

.operacoes .col {
  flex-grow: 0;
  padding: 0px 1.5rem;
}

.form-group {
  padding: 0.1rem 0rem;
  margin: 0;
}

.form-label {
  margin-bottom: 0;
  margin-top: 0.2rem;
}

.modal-footer {
  display: flex;
  padding: 0.7rem 1rem;
}

.modal-footer button {
  flex: 1;
}

.no-border {
  border-width: 0;
}

.operation-icons {
  padding: 0;
  border: none;
  color: #ddd;
  font-size: 0.9rem;
}

.operacoes .btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}

.erro-validacao {
  text-align: center;
  flex: 1;
  color: red;
  font-size: 0.8rem;
  padding: 0.5rem 0 0 0;
  margin-bottom: 0;
}
.formNumericInput {
  padding: 0 1rem;
}

.itemOrdemVenda {
  color: rgb(229, 97, 216);
}

.itemOrdemCompra {
  color: rgb(124, 176, 183);
}

.tableItemBookOferta td {
  padding: 0.2rem;
}
