#bookofertas {
  width: 340px;
}

#bookofertas .modal-body {
  padding: 0;
  margin: 0;
}

.tableBook {
  background: var(--background-color);
  margin: 0;
  color: #ddd;
}

th {
  padding: 0.2rem !important;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: var(--light-background-color);
}

.operacoes .col {
  flex-grow: 0;
  padding: 0px 1.5rem;
}

.form-group {
  padding: 0.1rem 0rem;
  margin: 0;
}

.form-label {
  margin-bottom: 0;
  margin-top: 0.2rem;
}

.modal-footer {
  display: flex;
  padding: 0 1rem 0.3rem 1rem;
}

.modal-footer button {
  flex: 1;
}

.no-border {
  border-width: 0;
}

.operation-icons {
  padding: 0;
  border: none;
  color: var(--cor-cinza-botoes);
  font-size: 0.8rem;
}

.operacoes .btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}

.erro-validacao {
  text-align: center;
  flex: 1;
  color: red;
  font-size: 0.8rem;
  padding: 0.5rem 0 0 0;
  margin-bottom: 0;
}
.formNumericInput {
  padding: 0 1rem;
}

.itemOrdemVenda {
  color: rgb(229, 97, 216);
}

.itemOrdemCompra {
  color: rgb(124, 176, 183);
}

td {
  padding: 0.05rem !important;
}

.ColFormQtde {
  padding-right: 0.09rem;
  padding-left: 0.09rem;
}

.ColFormStopLoss {
  padding-right: 0.18rem;
}

.ColFormGain {
  padding-left: 0.18rem;
}

.text-align-center {
  text-align: center !important;
}
