#compralimitada {
  max-width: 600px;
  min-width: 600px;
}

#GainDisparoGrafico_CL {
  top: 16%;
  left: 45%;
}

#GainExecGrafico_CL {
  top: 21.2%;
  left: 45%;
}

#StopDisparoGrafico_CL {
  top: 74%;
  left: 45%;
}

#StopExecGrafico_CL {
  top: 79%;
  left: 45%;
}
#CotacaoAtualGrafico_CL {
  top: 46.2%;
  left: 2%;
  width: 19%;
  height: 9.2%;
}

#ConfigGainGrafico_CL {
  top: 0%;
  left: 80%;
}

#ConfigStopGrafico_CL {
  top: 59%;
  left: 80%;
}
