#comprastartstop {
  min-width: 680px;
  max-width: 680px;
}

#GainDisparoGrafico_CST {
  top: 14%;
  left: 52%;
}

#GainExecGrafico_CST {
  top: 14%;
  left: 71.5%;
}

#StopDisparoGrafico_CST {
  top: 66.5%;
  left: 52%;
}

#StopExecGrafico_CST {
  top: 66.5%;
  left: 71.5%;
}
#CotacaoAtualGrafico_CST {
  top: 40%;
  left: 7.3%;
  width: 18.5%;
  height: 8.2%;
}

#ConfigGainGrafico_CST {
  top: 14%;
  left: 87%;
}

#ConfigStopGrafico_CST {
  top: 66%;
  left: 87%;
}

#ValorTotalGain {
  top: 24%;
  left: 61%;
}

#ValorTotalStop {
  top: 76%;
  left: 61%;
}
