#compralimitada {
  max-width: 713px;
}

#GainDisparoGrafico_CL {
  top: 19%;
  left: 48.6%;
}

#GainExecGrafico_CL {
  top: 19%;
  left: 69%;
}

#StopDisparoGrafico_CL {
  top: 80.3%;
  left: 48.7%;
}

#StopExecGrafico_CL {
  top: 80.3%;
  left: 69%;
}
#CotacaoAtualGrafico_CL {
  top: 49%;
  left: 3.3%;
  width: 19%;
  height: 9.2%;
}

#ConfigGainGrafico_CL {
  top: 2%;
  left: 86%;
}

#ConfigStopGrafico_CL {
  top: 63%;
  left: 86%;
}
