#compraagendada .modal-content {
  margin: 0 0 0 46vmin;
}

#compraagendada {
  max-width: 105vmin;
}

.border-green {
  border-color: green;
}

.labelCol {
  flex-grow: 0.3;
  padding-right: 0;
}

.labelForm-verticalAlign {
  position: relative;
  top: 50%;
}

.formAtivo {
  align-self: flex-end;
}
.colIconeConfig {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-bottom: 0.5vmin;
}

.valorTotalText {
  text-align: center;
  background-color: var(--light-brackground-color);
  margin-top: 1rem;
  padding: 0.5rem 0;
  color: var(--laranja-valorTotal);
}

.colValorTotal {
  padding: 0;
}

.colValidadeCheck {
  padding-top: 0.2rem;
}

.rowFormValidade {
  padding: 0.75rem 0;
  display: flex;
  align-items: center;
}

.colFormDate {
  padding-right: 0;
  padding-left: 0;
}

.colDateIcon {
  padding-left: 0.5rem;
}

.rowAssinaturaEletronica {
  padding-bottom: 1rem;
}

.rowBodyHeader {
  text-align: center;
  justify-content: center;
  padding: 0 0%;
}

.colAtivo1BodyHeader {
  padding-right: 0;
}

.colAtivo2BodyHeader {
  padding-left: 0;
}

.colValorBodyHeader {
  padding-right: 0;
}

.colIconeSetaBodyHeader {
  padding-left: 0;
}

.colPorcentagemBodyHeader {
  padding-right: 0;
}

.colDataBodyHeader {
  padding-left: 0;
}

.dataBodyHeader {
  font-size: 80%;
}

.porcentagemPositiva {
  color: green;
}

.porcentagemNegativa {
  color: red;
}

.colGrafico {
  display: flex;
  align-items: center;
  padding-left: 0;
}

.imgContainer {
  position: relative;
  display: inline-block;
}

.imgContainer img {
  max-width: 100%;
  display: block;
}

.textoGrafico {
  width: 19%;
  height: 7.2%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapperIconeConfiguracaoGrafico {
  width: 19%;
  height: 7.2%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconeConfiguracaoGrafico {
  padding: 0;
  border: none;
  color: #ddd;
  font-size: 0.8vw;
}
.textoGrafico h6 {
  font-size: 1.1vw;
  margin: 0 0 0 0;
  color: #000;
  font-weight: 700;
}

.seta {
  color: #f00;
}

#GainDisparoGrafico {
  top: 19%;
  left: 48.6%;
}

#GainExecGrafico {
  top: 19%;
  left: 69%;
}

#StopDisparoGrafico {
  top: 80.3%;
  left: 48.7%;
}

#StopExecGrafico {
  top: 80.3%;
  left: 69%;
}
#CotacaoAtualGrafico {
  top: 50.5%;
  left: 3.3%;
}

#ConfigGainGrafico {
  top: 2%;
  left: 86%;
}

#ConfigStopGrafico {
  top: 63%;
  left: 86%;
}
