#compraagendada {
  max-width: 600px;
  min-width: 600px;
}

#GainDisparoGrafico_CA {
  top: 15%;
  left: 48.6%;
}

#GainExecGrafico_CA {
  top: 20%;
  left: 69%;
}

#StopDisparoGrafico_CA {
  top: 73%;
  left: 48.7%;
}

#StopExecGrafico_CA {
  top: 78%;
  left: 69%;
}
#CotacaoAtualGrafico_CA {
  top: 47.2%;
  left: 3.3%;
  width: 16.2%;
  height: 8%;
}

#ConfigGainGrafico_CA {
  top: 0%;
  left: 80%;
}

#ConfigStopGrafico_CA {
  top: 59%;
  left: 80%;
}

#TextoGainDisparo_CA {
  top: 9.5%;
  left: 43%;
}

#TextoGainExecucao_CA {
  top: 28%;
  left: 44.5%;
}

#TextoStopDisparo_CA {
  top: 67%;
  left: 43%;
}

#TextoStopExecucao_CA {
  top: 86.5%;
  left: 44.5%;
}

#TextoGain_CA {
  top: 1%;
  left: 55%;
}

#TextoStop_CA {
  top: 59%;
  left: 55%;
}

#TextoCotacaoAtualGrafico_CA {
  top: 48.5%;
  left: 22%;
}
