#compramercado .modal-content {
  margin-left: 1120px;
}

#compramercado {
  min-width: 700px;
  max-width: 700px;
}

#GainDisparoGrafico_CM {
  top: 19%;
  left: 48.6%;
}

#GainExecGrafico_CM {
  top: 19%;
  left: 69%;
}

#StopDisparoGrafico_CM {
  top: 80.3%;
  left: 48.7%;
}

#StopExecGrafico_CM {
  top: 80.3%;
  left: 69%;
}
#CotacaoAtualGrafico_CM {
  top: 49%;
  left: 3.3%;
  width: 19%;
  height: 9.2%;
}

#ConfigGainGrafico_CM {
  top: 2%;
  left: 86%;
}

#ConfigStopGrafico_CM {
  top: 63%;
  left: 86%;
}
