#comprastartstop {
  min-width: 585px;
  max-width: 585px;
  height: 420px;
}

#comprastartstop .mbody {
  height: 386.98px;
}

#GainDisparoGrafico_CST {
  top: 14%;
  left: 50.5%;
}

#GainExecGrafico_CST {
  top: 14%;
  left: 71%;
}

#StopDisparoGrafico_CST {
  top: 66.5%;
  left: 50.5%;
}

#StopExecGrafico_CST {
  top: 66.5%;
  left: 71%;
}
#CotacaoAtualGrafico_CST {
  top: 40%;
  left: 3.5%;
  width: 18.5%;
  height: 8.2%;
}

#ConfigGainGrafico_CST {
  top: 14%;
  left: 87%;
}

#ConfigStopGrafico_CST {
  top: 66%;
  left: 87%;
}

#ValorTotalGain {
  top: 24%;
  left: 61%;
  font-size: 0.8rem !important;
}

#ValorTotalStop {
  top: 76%;
  left: 61%;
}

.textoValorGrafico {
  font-size: 0.8rem;
}

#TextoGainDisparo_CST {
  top: 5.9%;
  left: 50.4%;
}

#TextoGainExecucao_CST {
  top: 5.9%;
  left: 70.6%;
}

#TextoStopDisparo_CST {
  top: 58%;
  left: 50.4%;
}

#TextoStopExecucao_CST {
  top: 58%;
  left: 70.6%;
}
