#comprastartstop {
  min-width: 600px;
  max-width: 600px;
  height: 420px;
}

#comprastartstopAberto {
  min-width: 600px;
  max-width: 600px;
  height: 420px;
  margin-right: 230px;
}

#GainDisparoGrafico_CST {
  top: 16%;
  left: 45%;
}

#GainExecGrafico_CST {
  top: 21.2%;
  left: 45%;
}

#StopDisparoGrafico_CST {
  top: 74%;
  left: 45%;
}

#StopExecGrafico_CST {
  top: 79%;
  left: 45%;
}
#CotacaoAtualGrafico_CST {
  top: 46.7%;
  left: 3.3%;
  width: 16.2%;
  height: 8%;
}

#ConfigGainGrafico_CST {
  top: 0%;
  left: 80%;
}

#ConfigStopGrafico_CST {
  top: 59%;
  left: 80%;
}

#ValorTotalGain {
  top: 24%;
  left: 61%;
  font-size: 0.8rem !important;
}

#ValorTotalStop {
  top: 76%;
  left: 61%;
}

.textoValorGrafico {
  font-size: 0.8rem;
}

#TextoGainDisparo_CST {
  top: 9.5%;
  left: 43%;
}

#TextoGainExecucao_CST {
  top: 28%;
  left: 44.5%;
}

#TextoStopDisparo_CST {
  top: 67%;
  left: 43%;
}

#TextoStopExecucao_CST {
  top: 86.5%;
  left: 44.5%;
}

#TextoGain_CST {
  top: 1%;
  left: 55%;
}

#TextoStop_CST {
  top: 59%;
  left: 55%;
}

#TextoCotacaoAtualGrafico_CST {
  top: 48.5%;
  left: 22%;
}

.configStopAberto {
  margin-right: 235px;
}
