#comprastartmovel {
  max-width: 1000px;
  min-width: 1000px;
}

#comprastartmovel .mbody {
  height: unset !important;
}
/*
Inputs do grafico
*/

#StopDisparoGrafico_CSM {
  top: 84%;
  left: 29.5%;
}

#StopExecGrafico_CSM {
  top: 87.5%;
  left: 29.5%;
}

#CotacaoAtualGrafico_CSM {
  top: 63%;
  left: 3.7%;
  width: 16.3%;
  height: 12px;
}

/*Textos do grafico*/

#TextoPrimeiroAjuste_CSM{
  top: 3%;
  left: 19.8%;
}

#TextoSegundoAjuste_CSM{
  top: 3%;
  left: 55.5%;
}

#TextoGainDisparo_CSM {
  top: 23%;
  left: 22%;
}

#TextoStopDisparo_CSM {
  top: 79.5%;
  left: 22.5%;
}

#TextoStopExecucao_CSM {
  top: 91.5%;
  left: 23.3%;
}

#TextoDisparoMaisAjuste_CSM {
  top: 10.5%;
  left: 54%;
}

#TextoCotacaoAtualGrafico_CSM {
  top: 62%;
  left: 20.5%;
}

#TextoStop_CSM {
  top: 73%;
  left: 26.5%;
}

#TextoMenorGrafico_Stop1ajuste_CSM {
  top: 55.5%;
  left: 33.5%;
}

#TextoMenorGrafico_StopAnterior_CSM {
  top: 44.5%;
  left: 54.5%;
}

#TextoMenorGrafico_Ajuste1_CSM {
  top: 23.5%;
  left: 67.7%;
}

#TextoMenorGrafico_Ajuste2_CSM {
  top: 55.5%;
  left: 67.7%;
}

#TextoMenorGrafico_Ajuste3_CSM {
  top: 73.5%;
  left: 67.7%;
}
