:root {
  --brackground-color: rgb(23, 25, 23);
  --light-brackground-color: rgb(29, 31, 29);
  --laranja-valorTotal: rgb(243, 148, 44);
  --cor-texto: #ddd;
  --cor-cinza-botoes: #444;
  --cor-borda: green;
  --cor-text-input: #bbb
}

.mcontent {
  background-color: var(--brackground-color);
  border-radius: 2.5rem;
  padding: 0.3rem 0rem;
  border: 0.4rem solid var(--cor-borda);
  color: var(--cor-texto);
  font-size: 0.9rem;
  margin-top: 20px;
  margin-right: 10px;
}

.mbody {
  padding: 1vmin;
}

.mheader {
  padding: 0rem 1.5rem;
  padding-bottom: 0rem;
  display: flex;
  text-align: center;
  justify-content: center;
}

.wrapperIconesHeader {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex: 1;
}

.iconesHeader {
  padding: 0;
  border: none;
  color: var(--cor-cinza-botoes);
  font-size: 0.9rem;
  margin: 0 3px;
}

.inputHeader {
  background-color: transparent;
  border-color: transparent;
  height: 30px;
  color: #ddd;
  font-weight: 600;
  padding-left: 0;
  padding-right: 0;
}

.colInputHeader {
  padding-left: 0;
}

.inputHeader:focus {
  background-color: transparent;
  color: #ddd;
  border-color: transparent;
  box-shadow: none;
}

.iconeFechar {
  color: red;
}

.mtitle {
  flex: 7;
  font-size: 1.1rem;
  text-align: center;
  padding-top: 0.1rem;
}

.border-green {
  border-bottom: 1px solid var(--cor-borda);
}

.customFooter {
  padding: 0.2rem 0 0.2rem 0;
  border-top: 0.5px dashed white;
}

.form-control[type="number"]::-webkit-inner-spin-button,
.form-contro[type="number"]::-webkit-outer-spin-button {
  appearance: none;
}

.form-control[type="number"] {
  appearance: none;
}

.form-group {
  text-align: left;
}
