.divAsModalContainer {
  background-color: var(--brackground-color);
  border-radius: 2.5rem;
  padding: 0rem 1rem;
  border: 0.2rem solid var(--cor-borda);
  color: var(--cor-texto);
  font-size: 0.9rem;
  padding-bottom: 0.5rem;
  width: 100%;
}

.colFormInterno {
  max-width: 355px;
  min-width: 355px;
  padding-right: 2px;
}

.colLabelInput {
  flex-grow: 0.3;
  padding-right: 0;
}

.form-label {
  margin-top: 0 !important;
}

.labelInput-verticalAlign {
  position: relative;
  top: 50%;
}

.formAtivo {
  align-self: flex-end;
}

.textInput {
  height: 15px;
  font-size: 0.8rem;
  background-color: var(--cor-text-input);
  border-color: var(--cor-text-input);
}

.colIconeConfig {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.operation-icons > .fa-cog {
  font-size: 1.2rem !important;
}

.valorTotalText {
  text-align: center;
  background-color: var(--light-brackground-color);
  margin-top: 0.8rem;
  padding: 0.2rem 0;
  color: var(--laranja-valorTotal);
}

.valorTotalText_CL {
  text-align: center;
  color: var(--laranja-valorTotal);
  margin: 0;
}

.colValorTotal_CL {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.colValorTotal {
  padding: 0;
}

.colValidadeCheck {
  padding-top: 0.2rem;
}

.rowFormValidade {
  padding: 0.7rem 0;
  display: flex;
  align-items: center;
}

.colFormDate {
  padding-right: 0;
  padding-left: 0;
  max-width: 109px;
}

.colDateIcon {
  padding-left: 0.5rem;
  color: var(--cor-cinza-botoes)
}

.rowAssinaturaEletronica {
  padding-bottom: 0.6rem;
}
