.configDiv {
  max-width: 236px !important;
  position: relative;
  left: 99%;
  top: -48%;
  padding-bottom: 1.55rem;
}

.configurarheader {
  padding: 0.3rem 1rem;
  padding-bottom: 0rem;
  display: flex;
  text-align: center;
  justify-content: center;
}

.imgConfigurar {
  max-width: 80.5%;
  display: flex;
  height: 325px;
  padding-top: 1rem
}
.switchGrafico {
  width: 19.2%;
  height: 7.4%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.switchGrafico > div {
  border: 2px solid #444 !important;
}
#ConfigGain1Grafico_CONFIGURAR {
  top: 5.8%;
  left: 87%;
}

#ConfigStop1Grafico_CONFIGURAR {
  top: 33.8%;
  left: 87%;
}

#ConfigGain2Grafico_CONFIGURAR {
  top: 52.8%;
  left: 87%;
}

#ConfigStop2Grafico_CONFIGURAR {
  top: 80.5%;
  left: 87%;
}

#switch1Grafico_CONFIGURAR {
  top: 15%;
  left: 61%;
}

#switch2Grafico_CONFIGURAR {
  top: 24%;
  left: 61%;
}

#switch3Grafico_CONFIGURAR {
  top: 62.2%;
  left: 61%;
}

#switch4Grafico_CONFIGURAR {
  top: 71.2%;
  left: 61%;
}
