:root {
  --brackground-color: rgb(23, 25, 23);
  --light-brackground-color: rgb(29, 31, 29);
  --laranja-valorTotal: rgb(243, 148, 44);
  --cor-texto: #ddd;
  --cor-borda: green;
}

.modal-backdrop {
  display: none !important;
}

DraggableModal {
  position: absolute;
}

.modal-dialog {
  position: fixed !important;
  margin: 0.5rem;
}

.modal-open {
  overflow: visible !important;
  padding-right: 0 !important;
}

.modal-content {
  background-color: var(--brackground-color);
  border-radius: 2.5rem;
  padding: 0.3rem 0rem;
  border-color: var(--cor-borda);
  border-width: 0.4rem;
  color: var(--cor-texto);
  font-size: 0.9rem;
}

.modal-body {
  padding: 1vmin;
}

.modal-header {
  padding: 0rem 1.5rem;
  padding-bottom: 0rem;
  display: flex;
  text-align: center;
  justify-content: center;
}

.wrapperIconesHeader {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex: 1;
}

.iconesHeader {
  padding: 0;
  border: none;
  color: var(--cor-texto);
  font-size: 0.9rem;
  margin: 0 3px;
}

.inputHeader {
  background-color: transparent;
  border-color: transparent;
  height: 30px;
  color: #ddd;
  font-weight: 600;
  padding-left: 0;
  padding-right: 0;
}

.colInputHeader {
  padding-left: 0;
}

.inputHeader:focus {
  background-color: transparent;
  color: #ddd;
  border-color: transparent;
  box-shadow: none;
}

.iconeFechar {
  color: red;
}

.modal-title {
  flex: 7;
  font-size: 1.1rem;
  text-align: center;
}

.border-green {
  border-color: var(--cor-borda);
}

.customFooter {
  padding: 0.2rem 0 0.2rem 0;
  border-top: 0.5px dashed white;
}

.form-control[type="number"]::-webkit-inner-spin-button,
.form-contro[type="number"]::-webkit-outer-spin-button {
  appearance: none;
}

.form-control[type="number"] {
  appearance: none;
}
