.modal-backdrop {
  display: none !important;
}

DraggableModal {
  position: absolute;
}

.modal-dialog {
  position: fixed !important;
  margin: 0.5rem;
}

.modal-content {
  background-color: #000;
  border-radius: 2.5rem;
  padding: 0.5rem 0rem;
  border-color: green;
  border-width: 0.4rem;
  color: #ddd;
  font-size: 0.9rem;
}

.modal-header {
  padding: 0rem 1.5rem;
  padding-bottom: 0.2rem;
}

.modal-title {
  margin: 0 0 0 auto;
  font-size: 1.3rem;
}

.close {
  font-weight: 800;
  color: red;
  text-shadow: 0 0 0 #fff;
  opacity: 1;
}

.divAsModalContainer {
  background-color: #000;
  border-radius: 2.5rem;
  padding: 0.5rem 1rem;
  border: 0.2rem solid green;
  color: #ddd;
  font-size: 0.9rem;
  padding-bottom: 1rem;
  width: 100%;
}

.padding-padrao {
  padding-left: 0rem;
  padding-right: 0rem;
}

.align-me {
  display: flex;
  align-items: flex-end;
}

.customFooter {
  padding: 0.5rem 0 0.5rem 0;
  border-top: 0.5px dashed white;
}
