:root {
  --brackground-color: rgb(23, 25, 23);
  --light-brackground-color: rgb(29, 31, 29);
  --laranja-valorTotal: rgb(243, 148, 44);
  --cor-texto: #ddd;
  --cor-borda: green;
}

.modal-backdrop {
  display: none !important;
}

DraggableModal {
  position: absolute;
}

.modal-dialog {
  position: fixed !important;
  margin: 0.5rem;
}

.modal-content {
  background-color: var(--brackground-color);
  border-radius: 2.5rem;
  padding: 0.3rem 0rem;
  border-color: var(--cor-borda);
  border-width: 0.4rem;
  color: var(--cor-texto);
  font-size: 0.9rem;
}

.modal-body {
  padding: 1vmin;
}

.modal-header {
  padding: 0rem 1.5rem;
  padding-bottom: 0rem;
  display: flex;
  text-align: center;
  justify-content: center;
}

.close {
  font-weight: 800;
  color: red;
  text-shadow: 0 0 0 #fff;
  opacity: 1;
}

.modal-title {
  flex: 7;
  font-size: 1.1rem;
  text-align: center;
}

.form-label {
  margin-top: 0 !important;
}

.textInput {
  height: 35px;
}

.wrapperIconesHeader {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex: 1;
}

.iconesHeader {
  padding: 0;
  border: none;
  color: var(--cor-texto);
  font-size: 0.9rem;
  margin: 0 3px;
}

.iconeFechar {
  color: red;
}

.iconeSeta {
  max-width: 1.8vmin;
}

.colFormInterno {
  max-width: 400px;
  min-width: 350px;
}

.divAsModalContainer {
  background-color: var(--brackground-color);
  border-radius: 2.5rem;
  padding: 0rem 1rem;
  border: 0.2rem solid var(--cor-borda);
  color: var(--cor-texto);
  font-size: 0.9rem;
  padding-bottom: 0.5rem;
  width: 100%;
}

.customFooter {
  padding: 0.2rem 0 0.2rem 0;
  border-top: 0.5px dashed white;
}
