@font-face {
  font-family: "Segoe UI";
  src: local("Segoe UI"), url(../fonts/SEGOEUI.TTF) format("truetype");
}

/* SEMI-BOLD */
@font-face {
  font-family: "Segoe UI";
  font-weight: 400;
  src: local("Segoe UI"), url(../fonts/SEGUISB.TTF) format("truetype");
}

/* BOLD */
@font-face {
  font-family: "Segoe UI";
  font-weight: 500;
  src: local("Segoe UI"), url(../fonts/SEGOEUIB.TTF) format("truetype");
}

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0f0f0f;
}

.blockSelection {
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
