.multiBoxTab4 {
  padding: 0 4px;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: -1px 0 8px 0;
    padding: 4px 8px;

    .brokerCustomButton {
      padding: 0;
    }

    > div {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .quote {
        color: #bfdce8;
      }

      .oscilation {
        &.positiveText {
          color: #4ec54b;
        }

        &.negativeText {
          color: rgb(221, 54, 37);
        }
      }

      &:first-child {
        flex: 1;
        margin-right: 48px;
      }

      &:last-child {
        width: 80px;
      }
    }

    h4 {
      color: #ccae44;
      margin-bottom: 0;
    }

    img {
      height: 20px;
    }

    .openInNewIcon {
      height: 14px;
    }
  }

  > table {
    text-align: center;
    background-color: transparent !important;

    .brokerCustomButton {
      padding: 0;
    }

    thead {
      tr:first-child {
        th:nth-child(2) {
          border-bottom: 1px solid #ccae44 !important;
        }
      }
    }

    th {
      font-weight: 400;

      &.yellowColumns {
        color: #ccae44;
      }

      &.blueColumns {
        color: #80c7e4;
      }

      .brokerCustomButton {
        svg {
          margin-bottom: 2px;
          margin-left: 2px;
        }
      }
    }

    .buyColor {
      color: #098abf;
    }

    .sellColor {
      color: #a5746b;
    }

    td:nth-child(3) {
      color: #bfdce8;
    }

    th:nth-child(3) {
      color: #fff;
    }

    th:nth-child(4),
    th:nth-child(5),
    td:nth-child(4),
    td:nth-child(5) {
      color: #80c7e4;
    }

    th:nth-child(6),
    th:nth-child(7),
    td:nth-child(6),
    td:nth-child(7) {
      color: #fda6f4;
    }

    tr:nth-child(odd) td {
      background-color: transparent !important;
    }

    td {
      &:nth-child(1) {
        font-weight: bold;
      }

      &.strikeColumn {
        min-width: 136px;

        .symbolCardContainer {
          padding-right: 4px;
        }
      }
    }

    tbody {
      tr:not(:first-child) {
        border-top: 5px solid transparent;
      }
    }
  }

  .tab4InputRangeContainer {
    padding: 0 24px;

    > div {
      display: flex;
      justify-content: space-between;

      span {
        line-height: 14px;
      }
    }
  }

  .tab4InputRange {
    background-color: transparent !important;
    height: 11px;
  }

  .tab4InputRange::-webkit-slider-runnable-track {
    background-color: #444 !important;
    height: 8px;
  }

  .tab4InputRange::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: #ffff00 !important;
    box-shadow: 0 0 1px 2px #eaad15 !important;
    height: 12px !important;
    width: 12px !important;
    margin-top: -2px !important;
  }
}
