.multiBoxTab5 {
  padding: 0 4px;

  select,
  input {
    text-align: center;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-border-light);
    margin: -1px 0 2px 0;
    padding: 4px 0px;

    .brokerCustomButton {
      padding: 0;
    }

    img {
      height: 26px;
    }

    .searchOptionsButton {
      .brokerCustomButton {
        display: flex;
        flex-direction: column;

        img {
          max-height: 16px;
          max-width: 25.8px;
        }
      }
    }

    .openInNewIcon {
      height: 18px;
    }

    .darkSimpleInput {
      border-radius: 4px;
      max-width: 45%;
      height: 20px;
    }
  }

  .strikeDateRow {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-border-light);
    margin: -1px 0 2px 0;
    padding: 4px 0px 8px;

    .form-group {
      padding: 0;
      max-width: 165px;

      .darkInputSelect {
        border-radius: 4px;
        height: 20px;
        width: 80px;
        background-color: #333;
      }

      .optionStrikeSelect {
        > div {
          height: 20px !important;
          width: 170px !important;
          font-size: 0.71rem !important;
        }

        .ant-select-selection__rendered {
          height: 20px !important;
          line-height: 20px !important;
        }

        .ant-select-arrow {
          right: 5px !important;
        }
      }

      &:first-child {
        margin-right: 0px;
      }

      .form-label {
        color: #ccae44;
      }
    }

    .callPutContainer {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      margin-left: 8px;

      > button {
        border-radius: 6px;
        height: 20px;
        padding: 0 6px;
      }

      button:first-child {
        background: #0d6721;
        margin-right: 6px;
      }

      button:last-child {
        background: #9c243a;
      }
    }
  }

  .finishButton {
    background: #7095df;
    border-radius: 6px;
    height: 28px;
    margin-left: auto;
    margin-right: 4px;
    width: 70px;
    display: block;
  }

  .offersContainer {
    padding: 8px 0 0;

    > table {
      text-align: center;
      background-color: transparent !important;

      tbody {
        tr:not(:first-child) {
          border-top: 5px solid transparent;
        }
      }

      th {
        background-color: transparent;
        color: #ccae44;
        font-weight: 400;

        .brokerCustomButton {
          padding: 0;
          svg {
            margin-bottom: 2px;
            margin-left: 2px;
          }
        }
      }

      td {
        background-color: transparent !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;

        &:nth-child(3),
        &:nth-child(5) {
          padding: 0 3px !important;
        }

        &.closeColumn {
          .brokerCustomButton {
            padding: 0;

            svg {
              vertical-align: baseline;
            }
          }
        }

        &.strikeColumn {
          position: relative;
          min-width: 92px;
        }

        &.typeColumn {
          min-width: 47px;
        }
      }

      .containerInput {
        max-width: 60px;

        input {
          background-color: #333;
          border-color: #333;
          color: var(--color-text-primary) !important;
          box-sizing: content-box;
        }
      }

      .buySellSelector {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        > button {
          background-color: #444;
          font-size: 10px;
          font-weight: 600 !important;
          width: 16px;
          height: 16px;
          border-radius: 5px;
          margin: 1px 1px 0 1px;
          padding: 0;
        }
      }

      .buySelector {
        background-color: #28a745 !important;
      }

      .sellSelector {
        background-color: red !important;
      }

      .typeButton {
        font-size: 14px;
        color: #c4c4c4;
      }

      img.modelImg {
        height: 18px;
        vertical-align: bottom;
      }

      .dueDateSelect {
        height: 17px;
        background-color: #333;
        border-radius: 4px;
      }

      .offerStrikeSelect {
        position: absolute;
        top: 0;
        left: 1px;

        > div {
          width: 90px !important;
        }
      }
    }
  }

  .strikeSelect {
    > div {
      background-color: #333 !important;
      color: var(--color-text-primary) !important;
      width: 80px !important;
      border: none;
      height: 17px !important;
      text-align: center !important;
      font-size: 0.73rem !important;
    }

    .ant-select-selection__rendered {
      height: 17px !important;
      line-height: 16px !important;
    }

    input {
      height: 17px !important;
      text-align: center !important;
    }

    i {
      color: #ddd !important;
    }
  }
}

.strikeSelectDropdown {
  background-color: #333 !important;
  font-weight: 500;
  width: 180px !important;
}

.tab5StrikeOption {
  font-size: 0.73rem !important;
  padding: 5px 7px !important;
}
