.containerCombinacoesTHL {
  margin-left: 103px;
  margin-top: 7px;
  width: calc(100% - 113px);
  position: relative;
}

.tabelaCombinacoes {
  color: var(--color-text-primary);
  margin-bottom: 0;

  %colunaTextoCentralizado {
    text-align: center !important;
    position: relative;
  }

  .thead {
    font-weight: 700;
  }

  .table-header-row {
    width: calc(100% - 20px) !important;
  }

  .th {
    @extend %colunaTextoCentralizado;
  }

  .th:first-child {
    .divLabelColuna {
      // border-left: 1px solid var(--color-border-light) !important;
      border-top-left-radius: 3px !important;
    }
  }

  .th:last-child {
    .divLabelColuna {
      border-top-right-radius: 3px !important;
      border-right: none;
    }
  }

  .tr {
    &.linhaSelecionada {
      .td {
        border-top-color: #fc990a;
        border-bottom-color: #fc990a;

        &:first-child {
          border-left: 1px solid #fc990a;
        }

        &:last-child {
          border-right: 1px solid #fc990a;
        }
      }
    }

    &:hover {
      opacity: 1;
    }
  }

  .td {
    @extend %colunaTextoCentralizado;
    padding: 5px 3px !important;
    font-size: 0.7rem;
    color: var(--color-text-dark);
    border-top: 1px solid var(--color-border-light);
    border-right: 1px solid var(--color-border-light);
    border-bottom: 1px solid transparent;

    &:first-child {
      border-left: 1px solid transparent;
    }

    &:last-child {
      border-right: 1px solid transparent;
    }
  }

  .linha-impar {
    .td {
      background-color: var(--color-background-light);
    }
  }

  .margemScrollbar.td:last-child {
    margin-right: 20px;
  }

  .precoMontagem {
    display: inline-block;
  }

  .iconeOrdenacao {
    margin-left: 5px;
  }
}

/* Container dos inputs de filtro */
.containerInputFiltro {
  position: absolute;
  margin: 0 auto;
  top: 0px;
  width: 100%;
  height: calc(100% - 28px);
  background-color: #000;
  display: flex;
  align-items: flex-end;
  padding: 0px 3px 3px 3px;
  justify-content: center;

  %input {
    height: 20px;
    background-color: #333;
    border-color: #333;
    color: var(--color-text-primary) !important;
    font-size: 0.7rem;
    width: 100% !important;
    max-width: 100px;
    padding-left: 3px !important;
  }

  input {
    @extend %input;
  }

  select {
    @extend %input;
    padding: 0;
    text-align-last: right;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  input:focus,
  select:focus {
    background-color: #333;
    border-color: #333;
  }
}

.colunaAcaoUlt {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  > div {
    width: 100%;
  }

  .colunaDividida {
    div {
      padding: 0 !important;
      width: 50%;
    }
    div:first-child {
      border-right: 1px solid var(--color-border-light);
    }
  }
}

.codigoColunaModelo {
  div:first-child {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    // padding: 0 0px 0 10px;
  }
  div:last-child {
    display: flex;
    justify-content: center;
    flex: 1;
    margin-right: 1px;
  }
}

/* Posicionamento de inputs acima do thead e configuração do .th*/
.divLabelColuna {
  background-color: var(--color-background-light);
  border: 1px solid var(--color-border-light);
  border-left: none;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 72px;

  > .tituloColuna {
    width: 100%;
  }

  .divClicavel:focus {
    box-shadow: none;
  }

  .colunaDividida {
    width: 100%;
  }
  /* Posicionamento de inputs acima do  */
}

.selectOperacaoFiltro {
  position: absolute !important;
  bottom: 0px;
  right: 0px;

  > div {
    height: 20px !important;
    background-color: #333 !important;
    color: var(--color-text-primary) !important;
    width: 25px !important;
    border: none;
    text-align: center !important;
    font-size: 0.73rem !important;
  }

  .ant-select-selection__rendered {
    height: 20px !important;
    line-height: 20px !important;
  }

  .ant-select-arrow {
    width: 100%;
    right: 0 !important;
  }
}

.selectOperacaoFiltroDropdown {
  width: 50px !important;
}

.containerTabelaComb {
  width: 100%;
  overflow: auto;

  @mixin border($bottom, $height) {
    content: "";
    position: absolute;
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid var(--color-border-light);
    left: -1px;
    z-index: 3;
    bottom: $bottom;
    height: $height;
    width: var(--width-tabela-combinacoes);
    pointer-events: none;
  }

  &::before {
    @include border(0px, calc(100% - 72px));
  }

  &.bordaRedimensionar::before {
    @include border(14px, calc(100% - 86px));
  }

  &.ultimaLinhaSelecionada::before {
    border-bottom-color: #fc990a !important;
  }

  @mixin scrollbar($prop, $value) {
    #{$prop}: $value;
  }

  @mixin scrollbar-track($borderWidth, $margin) {
    border-radius: 10px;
    background: #5c5c5c;
    background-clip: content-box;
    margin: $margin;
    border: $borderWidth solid transparent;
  }

  @mixin scrollbar-thumb($borderWidth) {
    border-radius: 10px;
    background: #aaa;
    height: 52px;
    border: $borderWidth solid transparent;
    background-clip: content-box;
  }

  &::-webkit-scrollbar {
    @include scrollbar(height, 14px);
  }
  &::-webkit-scrollbar-track {
    @include scrollbar-track(5px, 0 calc((100% - 173px) / 2));
  }
  &::-webkit-scrollbar-thumb {
    @include scrollbar-thumb(3px);
  }

  > div {
    min-width: 1079px !important;

    > div:nth-child(2) {
      > div:nth-child(2) {
        &::-webkit-scrollbar {
          @include scrollbar(width, 20px);
        }
        &::-webkit-scrollbar-track {
          @include scrollbar-track(8px, 80px 0);
        }
        &::-webkit-scrollbar-thumb {
          @include scrollbar-thumb(6px);
        }
      }
    }
  }
}

.multiSelectVencimento .ant-select-selection.ant-select-selection--multiple {
  width: 110px !important;
}

.multiSelectPrazo .ant-select-selection.ant-select-selection--multiple {
  width: 65px !important;
}

.multiSelectFiltroTHL {
  .ant-select-selection.ant-select-selection--multiple {
    height: 20px !important;
    overflow: hidden !important;
    padding-bottom: 0 !important;
  }

  .ant-select-search__field {
    width: 0px !important;
    max-width: 0px !important;
  }

  > div {
    background-color: #333 !important;
    color: var(--color-text-primary) !important;
    border: none;
    font-size: 0.73rem !important;
    min-height: 20px !important;
  }
  .ant-select-arrow {
    width: 100% !important;
    right: 0px !important;
  }

  .ant-select-selection__rendered {
    margin-right: 0px;
  }

  .ant-select-selection__choice {
    height: 20px !important;
    margin-top: 0 !important;
    background-color: transparent !important;
    border-color: transparent !important;
    color: var(--color-text-primary) !important;
  }

  .ant-select-selection__choice > div {
    vertical-align: middle;
    font-weight: 400 !important;
  }
  .ant-select-remove-icon {
    color: var(--color-text-primary) !important;
  }

  .ant-select-selection__choice__remove {
    top: 1px;
  }
}

.multiSelectFiltroTHLOption {
  font-size: 0.73rem !important;
  padding-right: 0 !important;
}

.ant-select-dropdown.ant-select-dropdown--multiple {
  .ant-select-dropdown-menu-item-selected.multiSelectFiltroTHLOption {
    .ant-select-selected-icon {
      color: transparent !important;
    }
  }
}

.bookCombinacoes {
  margin-top: 0 !important;
}

.colunaCodigo {
  height: 100%;
  display: flex;
  align-items: center;
}
