@import "./vencimentos.scss";
@import "./combinacoes.scss";

/* Abrange a tela thl, tabela de vencimento e mapa de calor */
#thl {
  /* width: calc(100% - 95px); */
  margin-bottom: 0 !important;
  min-width: 1000px;

  .mheader {
    position: fixed;
    width: calc(100% - 12px);
    padding-right: 1px;
  }

  .mcontent {
    margin-right: 0;
    padding-bottom: 15px;
    background-color: #000;
    // overflow: auto;
  }

  input,
  select {
    background-color: #333;
    border-color: #333;
    color: var(--color-text-primary);
  }
}

.inputAtivo {
  height: 30px;
  font-size: 0.8rem;
  background-color: var(--color-background) !important;
  border-color: #4d4c4c !important;
  color: var(--color-text-primary) !important;
  text-align: center;
  box-sizing: border-box !important;

  &:focus {
    background-color: var(--color-background);
    box-shadow: 0 0 0px 3.5px var(--color-input-box-shadow);
  }
}

#scrollbarTHL {
  margin-top: 24px;
  overflow: hidden;
  padding-right: 5px;
  height: calc(
    100vh - 169px
  ); // - 45px - 6px - 6px - 2px - 24px - 15px - 6px - 2px

  .ps__rail-y {
    background-color: transparent;
  }
}

.containerPesquisaAtivo {
  width: calc(100% - 147px);
  position: fixed; /*  */
  top: 36px;
  margin-left: 103px;
  display: flex;
  z-index: 1;
  height: 40px;
  padding: 5px 0;
  background-color: #000; //var(--color-background);
  z-index: 3;

  &::after {
    content: "";
    position: absolute;

    background-color: transparent;
    bottom: -30px;
    height: 30px;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: 0 -1px 0 0 var(--color-border-light);
  }

  .input-group {
    width: 135px;
  }

  .quote {
    color: #e79939;
    font-weight: 600;
    font-size: 20px;
    align-self: flex-end;
    line-height: 24px;
    margin-left: 16px;
  }

  .dayOscilation {
    color: #b1902c;
    font-weight: 500;
    font-size: 16px;
    align-self: flex-end;
    line-height: 20px;
    margin: 0 16px;
  }
}

.radioGroupTipo {
  display: flex !important;
  max-width: 110px;
  align-items: center;
  margin-left: 20px !important;

  label {
    color: var(--color-text-primary);
  }
}

.containerMapaCalor {
  width: 85px;
  margin-left: 3px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.7rem;
  position: fixed;
  top: calc(0% + 67px + 270px - 128px);
  z-index: 1;

  img {
    margin-right: 10px;
  }

  label {
    vertical-align: sub;
  }
}

.labelMinMax {
  margin-right: 10px;
}

.radioMapaCalor label {
  margin-left: 30px;
  color: var(--color-text-primary);
}

.divMapaSemCor {
  height: 16px;
}

.faixasTemperatura {
  justify-content: space-between;
  left: 49px;
  flex-direction: column;
  display: flex;
  position: absolute;
  top: 42px;
  height: 98px;
  white-space: nowrap;
}

.thlTopButtonsContainer {
  position: fixed;
  top: 40px;
  display: flex;
  z-index: 3;
  right: 45px;

  > div {
    margin: 0 16px;

    &.containerBotaoEnviarTHL {
      margin-right: 0;
      margin-left: 32px;
    }

    &.containerBotaoCriarAlerta {
      margin-right: 0;
    }
  }
}

.containerBotaoMenuTopo {
  button {
    border: none !important;
    padding: 0;
  }

  &:hover {
    opacity: 0.8;
  }

  img {
    z-index: 1;
  }
}

.botaoDesabilitado {
  opacity: 0.5;
}

.toolTipMenuTopoTHL {
  z-index: 99999999 !important;

  .ant-tooltip-arrow::before {
    background-color: #fff;
  }

  .ant-tooltip-inner {
    background-color: #fff;
    color: black;
    text-align: justify;
  }
}

.textoRecalcular {
  color: #fc990a;
  height: 32px;
  border: 2px solid #fc990a;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3px 0 11px;
  margin-left: -8px;
  border-radius: 4px;
  border-left: none;
}
