$tabelaVencimentosWidth: 100%;

.containerSpinnerVencimentos {
  margin-left: 103px;
  width: calc(100% - 136px);
  height: 540px;
  margin-top: 40px;
}

#scrollTabelaVencimento {
  border: 1px solid var(--color-border-light);
  border-radius: 3px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  width: $tabelaVencimentosWidth;
  height: 540px;

  .ps__rail-x {
    display: none;
  }

  .ps__rail-y {
    display: none;
  }
}

.tabelaVencimentos {
  margin-bottom: 0;
  white-space: nowrap;
  border-collapse: separate !important;
  border-spacing: 0;

  %comumTdTh {
    border-color: var(--color-border-light) !important;
    border-right: 1px dashed var(--color-border-dark) !important;
    border-left: none;
  }

  %comumTdThChild2 {
    border-style: solid !important;
    border-left-width: 1px;
    border-color: var(--color-border-light) !important;
  }

  %borderRightNone {
    border-right: none !important;
  }

  thead {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    z-index: 2;

    /* cabeçalho vencimentos */
    tr {
      /* cabeçalho coluna 2 preço da linha */
      &:nth-child(1) {
        th {
          top: 0px;

          &:nth-child(2) {
            z-index: 2;
            left: 55px;
          }
        }
      }

      th {
        position: -webkit-sticky;
        position: sticky;
        z-index: 2;
        background-color: var(--color-background-light);
        @extend %comumTdTh;

        &:first-child {
          left: 0;
          z-index: 2;
          @extend %borderRightNone;
        }

        &:nth-child(2) {
          @extend %comumTdThChild2;
        }

        &:nth-child(n + 3) {
          z-index: 1;
        }

        &:last-child {
          @extend %borderRightNone;
        }
      }
    }
  }

  tbody {
    overflow-y: hidden !important;
    max-height: 500px !important;

    /* espaço antes do cabeçalho fixo */
    &::before {
      content: "";
      display: table-row;
      height: 0px;
    }

    tr {
      /* colunas strike e preço das linhas fixas */
      &:nth-child(1n + 2) {
        color: var(--color-text-dark);

        %primeirasColunasTd {
          position: -webkit-sticky; /* for Safari */
          position: sticky;
          top: 0px; /* Para elementos móveis verticalmente nao é necessario Top, pois vão subir e se esconder atras do cabeçalho */
        }

        td {
          &:nth-child(1) {
            @extend %primeirasColunasTd;
          }

          &:nth-child(2) {
            @extend %primeirasColunasTd;
          }
        }
      }

      &:nth-child(even) {
        td {
          &:nth-child(1),
          &:nth-child(2) {
            background-color: var(--color-background-light) !important;
          }
        }
      }

      &:nth-child(odd) {
        td {
          &:nth-child(1),
          &:nth-child(2) {
            background-color: var(--color-background) !important;
          }
        }
      }

      &:first-child {
        .colunaPrecoLinha div:first-child {
          border-right: 1px solid var(--color-border-light) !important;
        }

        td {
          position: -webkit-sticky; /* for Safari */
          position: sticky;
          background-color: var(--color-background-light);
          top: 30px;
          z-index: 2;
          border-bottom: 1px solid var(--color-border-light) !important;
          font-size: 0.9rem;

          &:nth-child(1n + 3) {
            left: 0px;
            z-index: 1;
          }
        }
      }
    }

    td {
      font-size: 0.7rem;
      padding: 0px 5px !important;
      height: 0 !important;
      @extend %comumTdTh;
      border-bottom: 0;

      &:first-child {
        min-width: 55px;
        width: 55px;
        left: 0px;
        @extend %borderRightNone;
      }

      &:nth-child(2) {
        left: 55px;
        @extend %comumTdThChild2;
      }

      &:last-child {
        @extend %borderRightNone;
      }
    }
  }

  .colunaAno {
    text-align: start;
  }

  /* container total  e mensal */
  .colunaPrecoLinha {
    height: 100%;

    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-width: 84px;

      /* subcoluna total */
      &:first-child {
        border-right: 1px dashed var(--color-border-dark) !important;
        padding: 0px 10px 0 5px;
      }

      /* subcoluna mensal TODO:*/
      &:last-child {
        padding: 0px 5px 0 10px;
      }
    }
  }
}

%precoLinha {
  display: flex;
  align-items: center;
}

.precoLinhaMontar {
  @extend %precoLinha;
}

.precoLinhaDesmontar {
  color: var(--color-sell-primary-red);
  @extend %precoLinha;
}

.containerColunaMes {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.containerCelula {
  width: 147px;
  height: 53px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &:hover {
    opacity: 1;
  }

  &:focus {
    outline: none !important;
  }
}

.celulaSelecionada {
  border: 2px solid #fc990a;
  border-radius: 2px;
}

.itemAtivosQtde {
  border-radius: 5px;
  padding: 2px 0px 2px 0px;
  display: flex;
}

.itemAtivosQtdeCustodia {
  background-color: #b7b7b7;

  .itemAtivos {
    background-color: #222 !important;
  }
}

.itemAtivos {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 1px 0px;
  min-width: 96px;
  margin-left: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgModeloTHL {
  height: 15px;
  vertical-align: text-top;
}

.itemQtde {
  padding: 1px 0;
  color: #314452;
  min-width: 27px;
}

.bookAtivoTHL {
  display: flex;
  justify-content: space-around;
  margin-top: 3px;
  min-width: 128px;

  > div {
    box-sizing: border-box;
    height: 18px;
    border-radius: 4px;
    padding: 0px 3px;
    border: 1px solid transparent;

    &:focus {
      outline: none !important;
    }

    &:first-child {
      margin-right: 1px;
    }

    &:last-child {
      margin-left: 1px;
    }
  }
}

.bookSelecionado_compra {
  border-color: var(--color-buy-primary-blue) !important;
}

.bookSelecionado_venda {
  border-color: var(--color-sell-primary-red) !important;
}

.containerPrecoMontDesmont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5px;
  border-left: 1px dashed var(--color-border-dark);
  min-width: 75px;
  margin-right: -6px;
  height: 100%;
}

.divNomeMes {
  width: 100%;
  max-width: 147px;
  min-height: 16px;
}

.linhasStrike {
  .divClicavel {
    outline: none !important;
  }
}

.roxoTextoTHL {
  color: var(--color-text-purple);
}

.ativoExecutando {
  color: yellow;
}

@mixin faixaMapa() {
  color: black;
  border-left: none;
}

.faixa1Mapa {
  background-color: #fff100;
  @include faixaMapa();
}
.faixa2Mapa {
  background-color: #fcb80f;
  @include faixaMapa();
}
.faixa3Mapa {
  background-color: #f7921c;
  @include faixaMapa();
}
.faixa4Mapa {
  background-color: #f36e21;
  @include faixaMapa();
}
.faixa5Mapa {
  background-color: #ed1b24;
  @include faixaMapa();
}

.ponteiroDragScroll {
  cursor: move;
}
