#alertScroll {
  .ps__rail-y {
    display: none;
  }
}

.newAlertButton {
  border: 3px solid #ecc849;
  margin: -20px -8px 24px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  color: #ecc849;
  font-size: 20px;

  &:hover {
    opacity: 0.8;
  }

  > div {
    height: 27px;
    width: 27px;
    // border-radius: 50%;
    background-color: #ecc849;
    position: absolute;
    right: 14px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.alertScrollButton {
  color: #fff;
  margin: 0 auto;
  cursor: pointer;
  transition: opacity 0.1s;

  &:focus {
    outline: none;
  }

  &.hiddenButton {
    opacity: 0;
    pointer-events: none;
  }
}

.alertRightMenuContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .buyText {
    color: #207fa5;
  }

  .sellText {
    color: #996666;
  }
}

.alertItemContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  & + .alertItemContainer {
    margin-top: 4px;
  }

  button {
    border: none;

    &:focus {
      outline: none;
    }
  }
}

.alertItem {
  height: 40px;
  border-radius: 6px;
  background: linear-gradient(rgb(70, 70, 70), rgb(30, 30, 30)); //
  padding: 4px;
  display: flex;
  flex-direction: row;

  & + .alertItem {
    margin-top: 8px;
  }

  > div:not(:last-child) {
    display: flex;
    flex-direction: column;

    & + div:not(:last-child) {
      margin-left: 4px;
    }

    > span:first-child {
      color: #b7b7b7;
      font-size: 15px;
      line-height: 17px;
    }

    > span:last-child {
      font-size: 12px;
      line-height: 14px;
      color: #ccc;
      text-align: center;
    }
  }

  > div:last-child {
    display: flex;
    flex-direction: column;
    margin-left: 12px;

    > span:first-child {
      color: #ccc;
      font-size: 20px;
      line-height: 20px;
      font-weight: 500;
      margin-bottom: 1px;
      display: flex;

      svg {
        width: 9px;
        height: 20px;
        line-height: 13px;
        vertical-align: bottom;
        margin-left: 2px;
      }
    }

    > span:last-child {
      color: #ccc;
      font-size: 10px;
      line-height: 10px;
      margin-top: 1px;
    }
  }
}
