#resumedOrderScroll {
  .ps__rail-y {
    display: none;
  }
}

.orderScrollButton {
  color: #fff;
  margin: 0 auto;
  cursor: pointer;
  transition: opacity 0.1s;

  &:focus {
    outline: none;
  }

  &.hiddenButton {
    opacity: 0;
    pointer-events: none;
  }
}

.resumedOrdersContainer {
  .buyType {
    background-color: #0cc45b;
  }

  .sellType {
    background-color: #ff0020;
  }
}

.orderContainer {
  display: flex;
  flex-direction: column;

  button {
    border: none;

    &:focus {
      outline: none;
    }
  }

  & + .orderContainer {
    margin-top: 4px;
  }


}

.resumedOrderItem {
  min-height: 42px;
  border-radius: 6px;
  background: linear-gradient(rgb(70, 70, 70), rgb(30, 30, 30));
  // padding: 4px;
  width: 100%;

  display: inline-flex;
  flex-direction: row;
  align-items: center;
  position: relative;

  .progress {
    position: absolute;
    height: 100%;
    background: #108242;
    background-image: linear-gradient(
      105deg,
      #3fb349 25%,
      #108242 26%,
      #108242 50%,
      #3fb349 52%,
      #3fb349 75%,
      #108242 77%,
      #108242 100%
    );
    background-size: 31.06px 115.91px;
    width: 0%;
    left: 0;
    transition: width 0.2s;
    opacity: 0.46;
  }

  span {
    font-size: 12px;
    color: #ccc;
    line-height: 14px;
  }

  .offersContainer {
    flex: 1;
    margin-right: 8px;
    z-index: 1;
  }

  .offer {
    height: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .offerType {
      height: 14px;
      width: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      padding-right: 1px;

      strong {
        color: #fff;
        line-height: 10px;
        font-size: 10px;
        font-weight: 700;
      }
    }

    .symbol {
      font-size: 15px;
      line-height: 17px;
      color: #bcbcbc;
      min-width: 65px;
      font-weight: 500;
    }
  }
}

.resumedOrderTooltip {
  background-color: transparent !important;
  border-color: transparent !important;
  margin-bottom: -2px !important;

  .tooltip-inner {
    padding: 0;
    border-radius: 6px !important;
  }

  .arrow::before {
    border-top-color: #4c4b4b;
  }

  span {
    color: #d2d5d2;
    font-size: 10px;
    line-height: 10px;
  }

  header {
    padding: 0px 6px;
    background-color: #333333;
    border-radius: 6px 6px 0px 0px;
    text-align: start;
    height: 16px;
    display: flex;
    align-items: center;
  }

  main {
    width: 102px;
    padding: 2px 6px 4px;
    background-color: #4c4b4b;
    border-radius: 0px 0px 6px 6px;
    display: table;

    > div {
      display: table-row;
      height: 11px;

      span {
        display: table-cell;
        text-align: start;
      }
    }
  }
}
