.rightSideMenu {
  position: fixed;
  height: 100vh;

  right: 0px;
  margin-top: -8px;
  display: flex;

  .menuContent {
    padding: 20px 8px 56px;
    transition-duration: 0.2s;
    transition-property: width opacity;
    overflow: hidden;
    width: 214px;
    display: flex;
    flex-direction: column;
    background: #000;

    position: relative;

    > span {
      color: #d2d5d2;
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 24px;
      font-weight: 500;
    }

    button.alertButton {
      height: 30px;
      max-height: 30px;
      padding: 0;
    }

    &.closedRightMenu {
      width: 0;
      opacity: 0;
      padding: 20px 0;
    }
  }
}

.rightSideBar {
  background: linear-gradient(#333, #222);
  width: 43px;

  > div {
    height: 65px;
    width: 43px;
    border-bottom: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s;
    cursor: pointer;

    svg path {
      transition: stroke 0.2s;
    }

    &.activeItem {
      img {
        filter: brightness(1.2);
      }

      svg path {
        stroke: #ccc;
      }
    }

    img {
      max-width: 32px;
    }

    &.menuItemHidden {
      opacity: 0;
      pointer-events: none;
    }

    &:focus {
      outline: none;
      border-width: 0 0 1px;
    }
  }

  > div:first-child {
    height: 32px;
    width: 43px;

    > i {
      color: #fff;
      transition: transform 0.2s;

      &.arrowRotateToRight {
        transform: rotateZ(180deg);
      }
    }
  }
}
