.rightSideMenu {
  position: fixed;
  height: 100vh;

  right: 0px;
  margin-top: -8px;
  display: flex;

  z-index: 9999;

  &.collapsed {
    pointer-events: none;
  }

  .barVisibilityButton {
    background: linear-gradient(#333, #222);
    height: 32px;
    width: 43px;
    border-bottom: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s;
    cursor: pointer;
    pointer-events: all;

    &:focus {
      outline: none;
      border-width: 0 0 1px;
    }

    > i {
      color: #fff;
      transition: transform 0.2s;

      &.arrowRotateToRight {
        transform: rotateZ(180deg);
      }
    }
  }

  .menuContent {
    padding: 20px 8px 56px;
    transition-duration: 0.2s;
    transition-property: width opacity;
    overflow: hidden;
    width: 214px;
    display: flex;
    flex-direction: column;
    background: #000;

    position: relative;

    > span {
      color: #d2d5d2;
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 24px;
      font-weight: 500;
    }

    button.alertButton {
      height: 30px;
      max-height: 30px;
      padding: 0;
    }

    &.closedRightMenu {
      width: 0;
      opacity: 0;
      padding: 20px 0;
    }

    header.itemHeader {
      display: flex;
      height: 20px;
      align-items: center;
      justify-content: flex-end;
      transition: opacity 0.2s;
      margin-bottom: 3px;

      > button {
        padding: 0;
        background-color: transparent;
        transition: opacity 0.2s;

        &:hover {
          opacity: 0.6;
        }
      }

      > button:first-child {
        margin-right: 2px;

        svg {
          stroke-width: 3px;
        }
      }
    }
  }
}

.rightSideBar {
  background: linear-gradient(#333, #222);
  transition: opacity 0.2s;
  width: 43px;
  flex: 1;
  height: 100%;

  &.hiddenSideBar {
    opacity: 0;
  }

  > div {
    height: 65px;
    width: 43px;
    border-bottom: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s;
    cursor: pointer;

    svg path {
      transition: stroke 0.2s;
    }

    &.activeItem {
      img {
        filter: brightness(1.2);
      }

      svg path {
        stroke: #ccc;
      }
    }

    img {
      max-width: 32px;
    }

    &.menuItemHidden {
      opacity: 0;
      pointer-events: none;
    }

    &:focus {
      outline: none;
      border-width: 0 0 1px;
    }
  }
}
