#multileg {
  width: 1000px;
  margin-left: 5px;
}

#multileg .mcontent {
  font-size: 0.7rem;
  padding-bottom: 1rem;
}

.bodyMultilegTESTE tbody tr {
  border-bottom: 4px solid var(--brackground-color) !important;
  background: #333;
}

.bodyMultiTESTE .row {
  margin: 0 0;
}

.po {
  position: absolute !important;
}
