#multileg {
  min-width: 1000px;
  margin-left: 5px;
}

#multileg .mcontent {
  font-size: 0.7rem;
  padding-bottom: 1rem;
}

.bodyMultilegTESTE tbody tr {
  border-bottom: 4px solid var(--brackground-color) !important;
  background: #333;
}

.bodyMultiTESTE .row {
  margin: 0 0;
}

.navTabMultileg {
  height: 24px;
  text-align: center;
  padding-left: 0.5rem;
  border-color: var(--cor-borda);
}

.navTabMultileg a {
  width: 47px;
  height: 24px;
  font-size: 0.95rem;
  padding: 0;
  background-color: rgb(40, 40, 40);
  margin-right: 3px;
  color: var(--cor-texto);
  border: none !important;
  border-bottom: 1px solid var(--cor-borda) !important;
  text-align: center;
}

a.abaNavTab.active {
  color: var(--cor-texto) !important;
  background-color: rgb(40, 40, 40) !important;
  border: 1px solid var(--cor-borda) !important;
  border-bottom: none !important;
}

a.botaoAddAba.active {
  color: var(--cor-texto) !important;
  background-color: rgb(40, 40, 40) !important;
}

.containerPrecoCustoModo {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 4rem;
  height: 23px;
  min-width: 600px;
  border-bottom: 1px solid var(--cor-borda) !important;
}

.containerPrecoCustoModo .form-group {
  flex-direction: row;
  display: flex;
  align-items: center;
}

.colPrecoCustoModo {
  margin-right: 15px;
}

.containerPrecoCustoModo input {
  max-width: 70px;
  margin-left: 5px;
  height: 17px !important ;
  font-size: 0.7rem;
}

.containerPrecoCustoModo .form-label {
  font-size: 0.9rem;
  height: 22px;
}

.containerAbaMultileg {
}

.divDetalhesAbaMultileg {
  display: flex;
  flex-direction: row;
}

.divColunaDetalhes {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  border-right: 1px solid var(--cor-borda);
  padding: 0 0.5rem;
  flex: 2;
  justify-content: space-evenly;
  height: 53px;
  padding-bottom: 7px;
}

.divColunaDetalhes .form-label {
  font-size: 0.9rem;
}

.divColunaDetalhes .textoValor {
  margin: 0 1rem;
  color: var(--laranja-valorTotal);
}

.divColunaDetalhes.modoPreco {
  flex: 1 !important;
}

.divColunaDetalhes.book {
  flex: 1 !important;
  border-right: none !important;
}

.divFlexRowDetalhesAba {
  flex: 1;
  text-align: center;
}

.divFlexRowDetalhesAba > div {
  display: flex;
  justify-content: space-around;
  margin-top: 1px;
}

.textoLaranja {
  color: var(--laranja-valorTotal);
}
/*
.containerTabBar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
*/

.tableMultileg {
  background-color: var(--light-brackground-color);
  color: #ddd;
  padding: 20px;
}

.tableMultileg tbody tr td {
  padding: 2px !important;
}

.tableMultileg > tbody > tr:nth-child(odd) > td,
.tableMultileg > tbody > tr:nth-child(odd) > th {
  background-color: var(--brackground-color) !important;
}

.divCV {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.divCV h6 {
  background-color: #444;
  font-size: 0.67rem !important;
  width: 16px;
  height: 16px;
  padding-top: 2px;
  border-radius: 5px;
  margin-top: 1px;
}

.cvCompra {
  background-color: green !important;
}

.cvVenda {
  background-color: red !important;
}
