#categoryList {
  width: 1100px;

  input {
    &:focus {
      box-shadow: none;
    }
  }

  .mcontent {
    border-width: 3px;
    padding-bottom: 16px;
    overflow: hidden;
    height: 700px;
  }

  .mheader {
    padding-left: 0;
    border-bottom-width: 0;

    .brokerCustomButton {
      font-size: 14px;
      color: #ccae44;
      padding: 0;
      display: flex;
      align-items: center;
      margin-left: 8px;

      svg {
        margin-right: 6px;
      }
    }
  }

  .listHeader {
    display: flex;

    > table {
      width: 361px;
    }

    > table:last-child {
      width: 362px;
    }
  }

  main {
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    max-height: 1000px;

    &::after {
      content: "";
      background-color: transparent;
      height: 10px;
      position: absolute;

      bottom: 2px;
      left: 361px;
      height: calc(100% - 35px);
      width: 3px;
      box-shadow: 2px 0px 0 0 var(--color-border-light);
      z-index: 6;
    }

    &::before {
      content: "";
      background-color: transparent;
      height: 50px;
      position: absolute;

      bottom: 2px;
      left: 722px;
      height: calc(100% - 35px);
      width: 3px;
      box-shadow: 2px 0px 0 0 var(--color-border-light);
      z-index: 6;
    }
  }

  .categoryTable {
    font-weight: 500;
    margin: 0 !important;
    border-spacing: 0px !important;
    border-collapse: separate;
    max-width: 361px;
    table-layout: fixed;
    background-color: #000 !important;

    th,
    td {
      color: #979a8f;
    }

    .flashPositive {
      animation: flashPositive 0.2s;
    }

    .flashNegative {
      animation: negativePositive 0.2s;
    }

    @keyframes flashPositive {
      0% {
        background-color: transparent;
      }
      100% {
        background-color: #207fa5;
      }
    }

    @keyframes negativePositive {
      0% {
        background-color: transparent;
      }
      100% {
        background-color: #734c4c;
      }
    }

    th {
      // background-color: #000;
      border-color: var(--color-border-light);
      border-top: none;
      text-align: center;
      border-top: 2px solid var(--color-border-light);

      &:last-child {
        border-right: 0px solid transparent;
      }

      &.deleteColumnTh {
        width: 25px;
      }
    }

    td {
      background-color: #000 !important;
      border: none;
      text-align: center;

      &:last-child {
        border-right: 0px solid transparent;
      }

      .symbolInput {
        background-color: transparent;
        border-color: transparent;
        text-align: center;
        color: #979a8f !important;
        font-weight: 500;
        font-size: 14.4px;
        height: 21px;
      }

      &.deleteColumn {
        width: 25px;

        button {
          padding: 0;

          &:hover {
            opacity: 1;
            svg {
              stroke: #ce202a;
            }
          }
        }
      }
    }

    .positiveColor {
      color: #207fa5;
    }

    .positiveBackground {
      background-color: #207fa5;
    }

    .negativeColor {
      color: #734c4c;
    }

    .negativeBackground {
      background-color: #734c4c;
    }

    tr.categoryTitle {
      td {
        border-top: 1px solid #ccae44;
        border-bottom: 1px solid #ccae44;
        position: relative;

        &.deleteColumn {
          button {
            height: 18px;
            width: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

        .darkSimpleInput {
          text-align: center;
          font-weight: 500 !important;
          color: #c5ba97 !important;
          font-size: 14px;
          height: 18px;
          background-color: transparent;
          border: none;
        }

        .addCodeButton {
          position: absolute;
          padding: 0;
          color: #c5ba97;
          right: 8px;
          top: -3px;
        }
      }
    }

    .yearOscColumn {
      position: relative;

      span {
        z-index: 1;
        background-color: transparent;
        position: relative;
      }

      div {
        position: absolute;
        width: 30px;
        height: 15px;
        right: 1px;
        margin: 3px 0;
        z-index: 0;
      }
    }
  }
}
